# import packages

In [1]:
import json
import re
import numpy as np
import pandas as pd
from write_load_data import load_data
from write_load_data import write_to_json

In [2]:
# load 'movie_dictionaries.json' and store as a variable named df. 
# If 'movie_dictionaries.json' does not exist in the directory this function will fail.
df = load_data('movie_dictionaries.json')

In [3]:
# [x for x in df if x['title']=='sacred planet']

In [4]:
# check the length of the dataframe loaded.
len(df)

447

In [5]:
#[clean] Testing to see if we are getting 'clean' versions of dictionaries.
# NOTE: To get the data format more standardized, all string fields are lower case.
[(index, x) for index,x in enumerate(df) if x['title']=="the vanishing prairie"]

[(24,
  {'title': 'the vanishing prairie',
   'Produced by': ['ben sharpsteen', 'walt disney'],
   'Written by': ['james algar', 'winston hibler'],
   'Narrated by': 'winston hibler',
   'Music by': 'paul j. smith',
   'Cinematography': 'n. paul kenworthy',
   'Edited by': 'lloyd l. richardson',
   'Production company': 'walt disney productions',
   'Distributed by': 'buena vista distribution',
   'Release date': ['august 17, 1954 ( 1954-08-17 )'],
   'Running time': ['60 minutes (vhs version)', '71 minutes (original)'],
   'Country': 'united states',
   'Language': 'english',
   'Box office': '$1.75 million (us and canadian rentals)'})]

In [6]:
# [clean] Testing to  see if we are getting 'clean' versions of dictionaries.
df[0:5]

[{'title': 'academy award review of walt disney cartoons',
  'Production company': 'walt disney productions',
  'Release date': ['may 19, 1937 ( 1937-05-19 )'],
  'Running time': '41 minutes (74 minutes 1966 release)',
  'Country': 'united states',
  'Language': 'english',
  'Box office': '$45.472'},
 {'title': 'snow white and the seven dwarfs',
  'Directed by': ['david hand (supervising)',
   'william cottrell',
   'wilfred jackson',
   'larry morey',
   'perce pearce',
   'ben sharpsteen'],
  'Produced by': 'walt disney',
  'Written by': ['ted sears',
   'richard creedon',
   'otto englander',
   'dick rickard',
   'earl hurd',
   'merrill de maris',
   'dorothy ann blank',
   'webb smith'],
  'Based on': ['snow white', 'brothers grimm'],
  'Starring': ['adriana caselotti',
   'lucille la verne',
   'harry stockwell',
   'roy atwell',
   'pinto colvig',
   'otis harlan',
   'scotty mattraw',
   'billy gilbert',
   'eddie collins',
   'moroni olsen',
   'stuart buchanan'],
  'Music by': ['frank churchill', 'paul smith', 'leigh harline'],
  'Production company': 'walt disney productions',
  'Distributed by': 'rko radio pictures',
  'Release date': ['december 21, 1937 ( 1937-12-21 ) ( carthay circle theatre , los angeles , ca , premiere)'],
  'Running time': '83 minutes',
  'Country': 'united states',
  'Language': 'english',
  'Budget': '$1.49 million',
  'Box office': '$418 million'},
 {'title': 'pinocchio',
  'Directed by': ['ben sharpsteen',
   'hamilton luske',
   'bill roberts',
   'norman ferguson',
   'jack kinney',
   'wilfred jackson',
   't. hee'],
  'Produced by': 'walt disney',
  'Story by': ['ted sears',
   'otto englander',
   'webb smith',
   'william cottrell',
   'joseph sabo',
   'erdman penner',
   'aurelius battaglia'],
  'Based on': ['the adventures of pinocchio', 'carlo collodi'],
  'Starring': ['cliff edwards',
   'dickie jones',
   'christian rub',
   'walter catlett',
   'charles judels',
   'evelyn venable',
   'frankie darro',
   'clarence nash',
   'mel blanc'],
  'Music by': ['leigh harline', 'paul j. smith'],
  'Production company': 'walt disney productions',
  'Distributed by': 'rko radio pictures',
  'Release date': ['february 7, 1940 ( 1940-02-07 ) ( center theatre )',
   'february 23, 1940 ( 1940-02-23 ) (united states)'],
  'Running time': '88 minutes',
  'Country': 'united states',
  'Language': 'english',
  'Budget': '$2.6 million',
  'Box office': '$164 million'},
 {'title': 'fantasia',
  'Directed by': ['samuel armstrong',
   'james algar',
   'bill roberts',
   'paul satterfield',
   'ben sharpsteen',
   'david d. hand',
   'hamilton luske',
   'jim handley',
   'ford beebe',
   't. hee',
   'norman ferguson',
   'wilfred jackson'],
  'Produced by': ['walt disney', 'ben sharpsteen'],
  'Story by': ['joe grant', 'dick huemer'],
  'Starring': ['leopold stokowski', 'deems taylor'],
  'Narrated by': 'deems taylor',
  'Music by': 'see program',
  'Cinematography': 'james wong howe',
  'Production company': 'walt disney productions',
  'Distributed by': 'rko radio pictures',
  'Release date': ['november 13, 1940 ( 1940-11-13 )'],
  'Running time': '126 minutes',
  'Country': 'united states',
  'Language': 'english',
  'Budget': '$2.28 million',
  'Box office': '$76.4–$83.3 million'},
 {'title': 'the reluctant dragon',
  'Directed by': ['alfred werker',
   'hamilton luske',
   'jack cutting',
   'ub iwerks',
   'jack kinney'],
  'Produced by': 'walt disney',
  'Written by': ['ted sears',
   'al perkins',
   'bill cottrell',
   'harry clork',
   'robert benchley',
   'kenneth grahame',
   't. hee',
   'joe grant',
   'dick huemer'],
  'Starring': ['robert benchley', 'frances gifford', 'nana bryant'],
  'Music by': ['frank churchill', 'larry morey'],
  'Cinematography': 'bert giennon',
  'Edited by': 'paul weatherwax',
  'Production company': 'walt disney productions',
  'Distributed by': 'rko radio pictures',
  'Release date': ['june 20, 1941 ( 1941-06-20 )'],
  'Running time': '74 minutes',
  'Country': 'united states',
  'Language': 'english',
  'Budget': '$600,000',
  'Box office': '$960,000 (worldwide rentals)'}]

# Clean the Data!

- ~~Standarize subscripts, Clean up references ~~
    - This was completed in 'task_2_scrape_movie_webpages.ipynb'. In the functions that created the movie dictionaries.
- Standarize Time 
    - Convert running time to an integer
    - convert data as date-time object
- Standarize Money
    - Convert budget
    - box office to numbers
- Standarize 'Starring' make a list

In [7]:
# Standardize Time
# Convert running time to an integer.
# Let's see how 'One Little Indian' turned out.
little_indian = [x for x in df if x['title']=="one little indian"]
little_indian

[{'title': 'one little indian',
  'Directed by': 'bernard mceveety',
  'Produced by': 'winston hibler',
  'Written by': 'harry spalding',
  'Starring': ['james garner',
   'vera miles',
   'pat hingle',
   'morgan woodward',
   'jodie foster'],
  'Music by': 'jerry goldsmith',
  'Cinematography': 'charles f. wheeler',
  'Edited by': 'robert stafford',
  'Production company': 'walt disney productions',
  'Distributed by': 'buena vista distribution',
  'Release date': ['june 20, 1973 ( 1973-06-20 )'],
  'Running time': '90 minutes',
  'Country': 'united states',
  'Language': 'english',
  'Box office': '$2 million'}]

In [8]:
# Navigate into the Running time value of 'One Little Indian'
running_time = little_indian[0]['Running time']
running_time

'90 minutes'

In [9]:
# How can we clean up the 'Running time' value to be an integer?
# Replace space (' ') and 'Minutes' with no values. 
# wrap the code with int() to change the type from string to an integer.
int(running_time.replace(' ', "").replace('minutes', ""))

90

In [10]:
# How many movies have the 'Running time' field
movies_with_runtime = [x for x in df if 'Running time' in x]
len(movies_with_runtime)

435

In [11]:
# another way to get the running time field from df. x.get(field_name)
# len([x.get('Running time') for x in df if x.get('Running time') is not None])

In [12]:
# strip running time if it is a string at '' 'min' (include the space so you don't have to strip it later). 
# movies_with_runtime = [{'title': x['title'], 'Running time': x['Running time'].split(' min', 1)[0]} if type(x['Running time']) is str else {'title':x['title']} for x in  movies_with_runtime ]
# movies_with_runtime

In [13]:
# remove the movies that don't have the runtime as a string:
# NOTE: '-' is a HYPHEN will take a copy of the output character to use in the split below.
# [{'title': x['title'], 'Running time': x['Running time'].split(' min', 1)[0]} for x in movies_with_runtime if x['title']=='zorro']

In [14]:
movies_with_runtime_int = [{'title': x['title'], 'Running time': int(x['Running time'].split(' min', 1)[0].split('–')[0])} for x in  movies_with_runtime if type(x['Running time']) is str]
movies_with_runtime_int

[{'title': 'academy award review of walt disney cartoons', 'Running time': 41},
 {'title': 'snow white and the seven dwarfs', 'Running time': 83},
 {'title': 'pinocchio', 'Running time': 88},
 {'title': 'fantasia', 'Running time': 126},
 {'title': 'the reluctant dragon', 'Running time': 74},
 {'title': 'dumbo', 'Running time': 64},
 {'title': 'bambi', 'Running time': 70},
 {'title': 'saludos amigos', 'Running time': 42},
 {'title': 'victory through air power', 'Running time': 65},
 {'title': 'the three caballeros', 'Running time': 71},
 {'title': 'make mine music', 'Running time': 75},
 {'title': 'song of the south', 'Running time': 94},
 {'title': 'fun and fancy free', 'Running time': 73},
 {'title': 'melody time', 'Running time': 75},
 {'title': 'so dear to my heart', 'Running time': 82},
 {'title': 'the adventures of ichabod andmr. toad', 'Running time': 68},
 {'title': 'cinderella', 'Running time': 74},
 {'title': 'treasure island', 'Running time': 96},
 {'title': 'alice in wonderland', 'Running time': 75},
 {'title': 'the story of robin hood andhis merrie men', 'Running time': 84},
 {'title': 'peter pan', 'Running time': 77},
 {'title': 'the sword and the rose', 'Running time': 92},
 {'title': 'the living desert', 'Running time': 69},
 {'title': 'rob roy, the highland rogue', 'Running time': 81},
 {'title': '20,000 leagues under the sea', 'Running time': 127},
 {'title': 'davy crockett, king of the wild frontier', 'Running time': 92},
 {'title': 'lady and the tramp', 'Running time': 76},
 {'title': 'the african lion', 'Running time': 75},
 {'title': 'the littlest outlaw', 'Running time': 73},
 {'title': 'the great locomotive chase', 'Running time': 85},
 {'title': 'davy crockett and the river pirates', 'Running time': 81},
 {'title': 'secrets of life', 'Running time': 70},
 {'title': 'westward ho the wagons!', 'Running time': 90},
 {'title': 'johnny tremain', 'Running time': 80},
 {'title': 'perri', 'Running time': 75},
 {'title': 'old yeller', 'Running time': 83},
 {'title': 'the light in the forest', 'Running time': 83},
 {'title': 'white wilderness', 'Running time': 72},
 {'title': 'tonka', 'Running time': 97},
 {'title': 'sleeping beauty', 'Running time': 75},
 {'title': 'the shaggy dog', 'Running time': 104},
 {'title': "darby o'gill and the little people", 'Running time': 93},
 {'title': 'zorro', 'Running time': 22},
 {'title': 'third man on the mountain', 'Running time': 105},
 {'title': 'toby tyler', 'Running time': 95},
 {'title': 'kidnapped', 'Running time': 97},
 {'title': 'pollyanna', 'Running time': 134},
 {'title': 'zorro', 'Running time': 22},
 {'title': 'jungle cat', 'Running time': 69},
 {'title': 'ten who dared', 'Running time': 92},
 {'title': 'swiss family robinson', 'Running time': 126},
 {'title': 'one hundred and one dalmatians', 'Running time': 79},
 {'title': 'the absent-minded professor', 'Running time': 97},
 {'title': 'the parent trap (simply known as the parent trap: a laugh affair)',
  'Running time': 128},
 {'title': 'nikki, wild dog of the north', 'Running time': 74},
 {'title': 'greyfriars bobby', 'Running time': 91},
 {'title': 'babes in toyland', 'Running time': 105},
 {'title': 'moon pilot', 'Running time': 98},
 {'title': 'bon voyage!', 'Running time': 130},
 {'title': 'big red', 'Running time': 89},
 {'title': 'almost angels', 'Running time': 93},
 {'title': 'the legend of lobo', 'Running time': 67},
 {'title': 'in search of the castaways', 'Running time': 98},
 {'title': 'son of flubber', 'Running time': 100},
 {'title': 'miracle of the white stallions', 'Running time': 118},
 {'title': 'savage sam', 'Running time': 103},
 {'title': 'summer magic', 'Running time': 110},
 {'title': 'the incredible journey', 'Running time': 80},
 {'title': 'the sword in the stone', 'Running time': 79},
 {'title': 'a tiger walks', 'Running time': 91},
 {'title': 'the misadventures of merlin jones', 'Running time': 91},
 {'title': 'the three lives of thomasina', 'Running time': 97},
 {'title': 'the moon-spinners', 'Running time': 118},
 {'title': 'mary poppins', 'Running time': 139},
 {'title': 'emil and the detectives', 'Running time': 92},
 {'title': 'those calloways', 'Running time': 131},
 {'title': "the monkey's uncle", 'Running time': 87},
 {'title': 'that darn cat!', 'Running time': 116},
 {'title': 'the ugly dachshund', 'Running time': 93},
 {'title': 'lt. robin crusoe, u.s.n.', 'Running time': 110},
 {'title': 'the fighting prince of donegal', 'Running time': 110},
 {'title': 'follow me, boys!', 'Running time': 131},
 {'title': 'monkeys, go home!', 'Running time': 101},
 {'title': 'the adventures of bullwhip griffin', 'Running time': 108},
 {'title': 'the gnome-mobile', 'Running time': 84},
 {'title': 'the jungle book', 'Running time': 78},
 {'title': 'charlie, the lonesome cougar', 'Running time': 75},
 {'title': "blackbeard's ghost", 'Running time': 106},
 {'title': 'the one and only, genuine, original family band',
  'Running time': 110},
 {'title': 'never a dull moment', 'Running time': 99},
 {'title': 'the horse in the gray flannel suit', 'Running time': 113},
 {'title': 'the love bug', 'Running time': 108},
 {'title': 'smith!', 'Running time': 112},
 {'title': 'rascal', 'Running time': 93},
 {'title': 'the computer wore tennis shoes', 'Running time': 91},
 {'title': 'king of the grizzlies', 'Running time': 93},
 {'title': 'the boatniks', 'Running time': 100},
 {'title': 'the wild country', 'Running time': 100},
 {'title': 'the aristocats', 'Running time': 79},
 {'title': 'the barefoot executive', 'Running time': 96},
 {'title': 'scandalous john', 'Running time': 113},
 {'title': 'the million dollar duck', 'Running time': 89},
 {'title': 'the biscuit eater', 'Running time': 92},
 {'title': "now you see him, now you don't", 'Running time': 88},
 {'title': 'napoleon and samantha', 'Running time': 92},
 {'title': 'run, cougar, run', 'Running time': 87},
 {'title': 'snowball express', 'Running time': 93},
 {'title': "the world's greatest athlete", 'Running time': 93},
 {'title': 'charley and the angel', 'Running time': 93},
 {'title': 'one little indian', 'Running time': 90},
 {'title': 'robin hood', 'Running time': 83},
 {'title': 'superdad', 'Running time': 96},
 {'title': 'herbie rides again', 'Running time': 88},
 {'title': 'the bears and i', 'Running time': 89},
 {'title': 'the castaway cowboy', 'Running time': 91},
 {'title': 'the island at the top of the world', 'Running time': 93},
 {'title': 'the strongest man in the world', 'Running time': 92},
 {'title': 'escape to witch mountain', 'Running time': 97},
 {'title': 'the apple dumpling gang', 'Running time': 100},
 {'title': 'one of our dinosaurs is missing', 'Running time': 100},
 {'title': "the best of walt disney's true-life adventures",
  'Running time': 89},
 {'title': 'ride a wild pony', 'Running time': 91},
 {'title': 'no deposit, no return', 'Running time': 112},
 {'title': 'treasure of matecumbe', 'Running time': 115},
 {'title': 'gus', 'Running time': 95},
 {'title': 'the shaggy d.a.', 'Running time': 91},
 {'title': 'freaky friday: the movie', 'Running time': 95},
 {'title': 'escape from the dark', 'Running time': 104},
 {'title': 'the many adventures of winnie the pooh', 'Running time': 74},
 {'title': 'a tale of two critters', 'Running time': 48},
 {'title': 'the rescuers', 'Running time': 77},
 {'title': 'herbie goes to monte carlo', 'Running time': 104},
 {'title': "pete's dragon", 'Running time': 128},
 {'title': 'candleshoe', 'Running time': 101},
 {'title': 'return from witch mountain', 'Running time': 94},
 {'title': 'the cat from outer space', 'Running time': 104},
 {'title': 'hot lead and cold feet', 'Running time': 90},
 {'title': 'the north avenue irregulars', 'Running time': 100},
 {'title': 'the apple dumpling gang rides again', 'Running time': 88},
 {'title': 'unidentified flying oddball', 'Running time': 93},
 {'title': 'the black hole', 'Running time': 98},
 {'title': 'the omega connection', 'Running time': 100},
 {'title': 'midnight madness', 'Running time': 112},
 {'title': 'the watcher in the woods', 'Running time': 84},
 {'title': 'herbie goes bananas', 'Running time': 98},
 {'title': "the last flight of noah's ark", 'Running time': 97},
 {'title': 'popeye', 'Running time': 114},
 {'title': 'the devil and max devlin', 'Running time': 96},
 {'title': 'amy', 'Running time': 100},
 {'title': 'dragonslayer', 'Running time': 109},
 {'title': 'the fox and the hound', 'Running time': 83},
 {'title': 'condorman', 'Running time': 90},
 {'title': 'night crossing', 'Running time': 107},
 {'title': 'tron', 'Running time': 96},
 {'title': 'tex', 'Running time': 103},
 {'title': 'trenchcoat', 'Running time': 91},
 {'title': 'something wicked this way comes', 'Running time': 95},
 {'title': 'never cry wolf', 'Running time': 105},
 {'title': 'return to oz', 'Running time': 113},
 {'title': 'the black cauldron', 'Running time': 80},
 {'title': 'the journey of natty gann', 'Running time': 101},
 {'title': 'one magic christmas', 'Running time': 89},
 {'title': 'the great mouse detective', 'Running time': 74},
 {'title': 'flight of the navigator', 'Running time': 90},
 {'title': 'benji the hunted', 'Running time': 89},
 {'title': 'the man from snowy river ii', 'Running time': 110},
 {'title': 'oliver & company', 'Running time': 74},
 {'title': 'honey, i shrunk the kids', 'Running time': 93},
 {'title': 'cheetah', 'Running time': 84},
 {'title': 'the little mermaid', 'Running time': 83},
 {'title': 'ducktales the movie: treasure of the lost lamp',
  'Running time': 69},
 {'title': 'the rescuers down under', 'Running time': 77},
 {'title': 'white fang', 'Running time': 107},
 {'title': 'shipwrecked', 'Running time': 93},
 {'title': "wild hearts can't be broken", 'Running time': 88},
 {'title': 'the rocketeer', 'Running time': 108},
 {'title': 'beauty and the beast', 'Running time': 84},
 {'title': 'newsies', 'Running time': 121},
 {'title': 'honey, i blew up the kid', 'Running time': 89},
 {'title': 'the mighty ducks', 'Running time': 104},
 {'title': 'aladdin', 'Running time': 90},
 {'title': 'the muppet christmas carol', 'Running time': 86},
 {'title': 'homeward bound: the incredible journey', 'Running time': 84},
 {'title': 'a far off place', 'Running time': 108},
 {'title': 'the adventures of huck finn', 'Running time': 107},
 {'title': 'hocus pocus', 'Running time': 96},
 {'title': 'cool runnings', 'Running time': 98},
 {'title': 'the three musketeers', 'Running time': 105},
 {'title': 'iron will', 'Running time': 108},
 {'title': 'blank check', 'Running time': 94},
 {'title': 'd2: the mighty ducks', 'Running time': 106},
 {'title': 'white fang 2: myth of the white wolf', 'Running time': 102},
 {'title': 'the lion king', 'Running time': 88},
 {'title': 'angels in the outfield', 'Running time': 102},
 {'title': "squanto: a warrior's tale", 'Running time': 102},
 {'title': 'the santa clause', 'Running time': 97},
 {'title': "rudyard kipling's the jungle book", 'Running time': 111},
 {'title': 'heavyweights', 'Running time': 100},
 {'title': 'man of the house', 'Running time': 96},
 {'title': 'tall tale', 'Running time': 98},
 {'title': 'a goofy movie', 'Running time': 78},
 {'title': 'pocahontas', 'Running time': 81},
 {'title': 'operation dumbo drop', 'Running time': 108},
 {'title': "a kid in king arthur's court", 'Running time': 89},
 {'title': 'the big green', 'Running time': 99},
 {'title': 'frank and ollie', 'Running time': 89},
 {'title': 'toy story', 'Running time': 81},
 {'title': 'tom and huck', 'Running time': 92},
 {'title': 'muppet treasure island', 'Running time': 100},
 {'title': 'homeward bound ii:lost in san francisco', 'Running time': 89},
 {'title': 'james and the giant peach', 'Running time': 79},
 {'title': 'the hunchback of notre dame', 'Running time': 91},
 {'title': 'first kid', 'Running time': 101},
 {'title': 'd3: the mighty ducks', 'Running time': 104},
 {'title': '101 dalmatians', 'Running time': 103},
 {'title': 'that darn cat', 'Running time': 86},
 {'title': 'jungle 2 jungle', 'Running time': 105},
 {'title': 'hercules', 'Running time': 93},
 {'title': 'george of the jungle', 'Running time': 92},
 {'title': 'air bud', 'Running time': 98},
 {'title': 'rocketman', 'Running time': 95},
 {'title': 'flubber', 'Running time': 93},
 {'title': 'mr. magoo', 'Running time': 87},
 {'title': 'meet the deedles', 'Running time': 93},
 {'title': 'mulan', 'Running time': 87},
 {'title': 'the parent trap', 'Running time': 128},
 {'title': "i'll be home for christmas", 'Running time': 86},
 {'title': "a bug's life", 'Running time': 95},
 {'title': 'mighty joe young', 'Running time': 114},
 {'title': 'my favorite martian', 'Running time': 93},
 {'title': "doug's 1st movie", 'Running time': 83},
 {'title': 'endurance', 'Running time': 83},
 {'title': 'tarzan', 'Running time': 88},
 {'title': 'inspector gadget', 'Running time': 78},
 {'title': 'the straight story', 'Running time': 112},
 {'title': 'toy story 2', 'Running time': 92},
 {'title': 'fantasia 2000', 'Running time': 74},
 {'title': 'the tigger movie', 'Running time': 78},
 {'title': 'dinosaur', 'Running time': 82},
 {'title': 'the kid', 'Running time': 104},
 {'title': 'remember the titans', 'Running time': 113},
 {'title': '102 dalmatians', 'Running time': 100},
 {'title': "the emperor's new groove", 'Running time': 78},
 {'title': "recess: school's out", 'Running time': 83},
 {'title': 'atlantis: the lost empire', 'Running time': 96},
 {'title': 'the princess diaries', 'Running time': 115},
 {'title': "max keeble's big move", 'Running time': 86},
 {'title': 'monsters, inc.', 'Running time': 92},
 {'title': 'snow dogs', 'Running time': 99},
 {'title': 'return to never land', 'Running time': 73},
 {'title': 'the rookie', 'Running time': 128},
 {'title': 'lilo & stitch', 'Running time': 85},
 {'title': 'the country bears', 'Running time': 88},
 {'title': 'spirited away', 'Running time': 125},
 {'title': 'tuck everlasting', 'Running time': 96},
 {'title': 'the santa clause 2', 'Running time': 104},
 {'title': 'treasure planet', 'Running time': 95},
 {'title': 'the jungle book 2', 'Running time': 72},
 {'title': "piglet's big movie", 'Running time': 75},
 {'title': 'ghosts of the abyss', 'Running time': 61},
 {'title': 'holes', 'Running time': 117},
 {'title': 'the lizzie mcguire movie', 'Running time': 94},
 {'title': 'finding nemo', 'Running time': 100},
 {'title': 'pirates of the caribbean:the curse of the black pearl',
  'Running time': 142},
 {'title': 'freaky friday', 'Running time': 97},
 {'title': 'brother bear', 'Running time': 85},
 {'title': 'the haunted mansion', 'Running time': 86},
 {'title': 'the young black stallion', 'Running time': 50},
 {'title': "teacher's pet", 'Running time': 74},
 {'title': 'miracle', 'Running time': 136},
 {'title': 'confessions of a teenagedrama queen', 'Running time': 89},
 {'title': 'home on the range', 'Running time': 76},
 {'title': 'sacred planet', 'Running time': 40},
 {'title': 'around the world in 80 days', 'Running time': 120},
 {'title': "america's heart and soul", 'Running time': 84},
 {'title': 'the princess diaries 2:royal engagement', 'Running time': 113},
 {'title': 'the incredibles', 'Running time': 115},
 {'title': 'national treasure', 'Running time': 131},
 {'title': 'aliens of the deep', 'Running time': 100},
 {'title': "pooh's heffalump movie", 'Running time': 68},
 {'title': 'the pacifier', 'Running time': 95},
 {'title': 'ice princess', 'Running time': 97},
 {'title': 'herbie: fully loaded', 'Running time': 101},
 {'title': "howl's moving castle", 'Running time': 119},
 {'title': 'sky high', 'Running time': 100},
 {'title': 'valiant', 'Running time': 76},
 {'title': 'the greatest game ever played', 'Running time': 120},
 {'title': 'chicken little', 'Running time': 81},
 {'title': 'the chronicles of narnia:the lion, the witch and the wardrobe',
  'Running time': 143},
 {'title': 'glory road', 'Running time': 106},
 {'title': 'roving mars', 'Running time': 40},
 {'title': 'eight below', 'Running time': 120},
 {'title': 'the shaggy dog', 'Running time': 99},
 {'title': 'the wild', 'Running time': 82},
 {'title': 'cars', 'Running time': 117},
 {'title': "pirates of the caribbean:  dead man's chest", 'Running time': 150},
 {'title': 'invincible', 'Running time': 104},
 {'title': 'the nightmare before christmas', 'Running time': 76},
 {'title': 'the santa clause 3:the escape clause', 'Running time': 92},
 {'title': 'bridge to terabithia', 'Running time': 95},
 {'title': 'meet the robinsons', 'Running time': 94},
 {'title': "pirates of the caribbean:  at world's end", 'Running time': 167},
 {'title': 'ratatouille', 'Running time': 111},
 {'title': 'underdog', 'Running time': 82},
 {'title': 'the pixar story', 'Running time': 87},
 {'title': 'the game plan', 'Running time': 110},
 {'title': 'enchanted', 'Running time': 107},
 {'title': 'national treasure: book of secrets', 'Running time': 124},
 {'title': 'hannah montana and miley cyrus:best of both worlds concert',
  'Running time': 74},
 {'title': 'college road trip', 'Running time': 83},
 {'title': 'the chronicles of narnia: prince caspian', 'Running time': 150},
 {'title': 'wall-e', 'Running time': 97},
 {'title': 'beverly hills chihuahua', 'Running time': 91},
 {'title': 'morning light', 'Running time': 100},
 {'title': 'bolt', 'Running time': 96},
 {'title': 'bedtime stories', 'Running time': 99},
 {'title': 'the secret of the magic gourd', 'Running time': 85},
 {'title': 'race to witch mountain', 'Running time': 98},
 {'title': 'hannah montana: the movie', 'Running time': 97},
 {'title': 'up', 'Running time': 96},
 {'title': 'g-force', 'Running time': 90},
 {'title': 'ponyo', 'Running time': 101},
 {'title': 'the book of masters', 'Running time': 101},
 {'title': 'a christmas carol', 'Running time': 96},
 {'title': 'old dogs', 'Running time': 88},
 {'title': 'the princess and the frog', 'Running time': 97},
 {'title': 'alice in wonderland', 'Running time': 108},
 {'title': 'prince of persia: the sands of time', 'Running time': 116},
 {'title': 'toy story 3', 'Running time': 103},
 {'title': "the sorcerer's apprentice", 'Running time': 109},
 {'title': 'tales from earthsea', 'Running time': 115},
 {'title': 'the crimson wing: mystery of the flamingos', 'Running time': 74},
 {'title': 'secretariat', 'Running time': 123},
 {'title': 'do dooni chaar', 'Running time': 108},
 {'title': 'tangled', 'Running time': 100},
 {'title': "the boys: the sherman brothers' story", 'Running time': 101},
 {'title': 'tron: legacy', 'Running time': 125},
 {'title': 'lilly the witch:the journey to mandolan', 'Running time': 90},
 {'title': 'mars needs moms', 'Running time': 88},
 {'title': 'zokkomon', 'Running time': 109},
 {'title': 'african cats', 'Running time': 89},
 {'title': 'prom', 'Running time': 104},
 {'title': 'pirates of the caribbean:on stranger tides', 'Running time': 137},
 {'title': 'cars 2', 'Running time': 106},
 {'title': 'winnie the pooh', 'Running time': 69},
 {'title': 'the muppets', 'Running time': 103},
 {'title': 'arrietty', 'Running time': 95},
 {'title': 'john carter', 'Running time': 132},
 {'title': 'chimpanzee', 'Running time': 77},
 {'title': 'arjun: the warrior prince', 'Running time': 96},
 {'title': 'brave', 'Running time': 93},
 {'title': 'the odd life of timothy green', 'Running time': 104},
 {'title': 'frankenweenie', 'Running time': 87},
 {'title': 'wreck-it ralph', 'Running time': 101},
 {'title': 'oz the great and powerful', 'Running time': 130},
 {'title': 'wings of life', 'Running time': 77},
 {'title': 'monsters university', 'Running time': 104},
 {'title': 'the lone ranger', 'Running time': 149},
 {'title': 'planes', 'Running time': 92},
 {'title': 'frozen', 'Running time': 102},
 {'title': 'saving mr. banks', 'Running time': 125},
 {'title': 'muppets most wanted', 'Running time': 107},
 {'title': 'bears', 'Running time': 77},
 {'title': 'million dollar arm', 'Running time': 124},

In [15]:
# How many movies have a 'Running time' value that is an integer? 428/434
len(movies_with_runtime_int)

428

In [16]:
# Store the titles of movies with 'Running time' as an int into a list named title_runtime_int.
title_runtime_int = [x['title'] for x in movies_with_runtime_int]
title_runtime_int

['academy award review of walt disney cartoons',
 'snow white and the seven dwarfs',
 'pinocchio',
 'fantasia',
 'the reluctant dragon',
 'dumbo',
 'bambi',
 'saludos amigos',
 'victory through air power',
 'the three caballeros',
 'make mine music',
 'song of the south',
 'fun and fancy free',
 'melody time',
 'so dear to my heart',
 'the adventures of ichabod andmr. toad',
 'cinderella',
 'treasure island',
 'alice in wonderland',
 'the story of robin hood andhis merrie men',
 'peter pan',
 'the sword and the rose',
 'the living desert',
 'rob roy, the highland rogue',
 '20,000 leagues under the sea',
 'davy crockett, king of the wild frontier',
 'lady and the tramp',
 'the african lion',
 'the littlest outlaw',
 'the great locomotive chase',
 'davy crockett and the river pirates',
 'secrets of life',
 'westward ho the wagons!',
 'johnny tremain',
 'perri',
 'old yeller',
 'the light in the forest',
 'white wilderness',
 'tonka',
 'sleeping beauty',
 'the shaggy dog',
 "darby o'gill and the little people",
 'zorro',
 'third man on the mountain',
 'toby tyler',
 'kidnapped',
 'pollyanna',
 'zorro',
 'jungle cat',
 'ten who dared',
 'swiss family robinson',
 'one hundred and one dalmatians',
 'the absent-minded professor',
 'the parent trap (simply known as the parent trap: a laugh affair)',
 'nikki, wild dog of the north',
 'greyfriars bobby',
 'babes in toyland',
 'moon pilot',
 'bon voyage!',
 'big red',
 'almost angels',
 'the legend of lobo',
 'in search of the castaways',
 'son of flubber',
 'miracle of the white stallions',
 'savage sam',
 'summer magic',
 'the incredible journey',
 'the sword in the stone',
 'a tiger walks',
 'the misadventures of merlin jones',
 'the three lives of thomasina',
 'the moon-spinners',
 'mary poppins',
 'emil and the detectives',
 'those calloways',
 "the monkey's uncle",
 'that darn cat!',
 'the ugly dachshund',
 'lt. robin crusoe, u.s.n.',
 'the fighting prince of donegal',
 'follow me, boys!',
 'monkeys, go home!',
 'the adventures of bullwhip griffin',
 'the gnome-mobile',
 'the jungle book',
 'charlie, the lonesome cougar',
 "blackbeard's ghost",
 'the one and only, genuine, original family band',
 'never a dull moment',
 'the horse in the gray flannel suit',
 'the love bug',
 'smith!',
 'rascal',
 'the computer wore tennis shoes',
 'king of the grizzlies',
 'the boatniks',
 'the wild country',
 'the aristocats',
 'the barefoot executive',
 'scandalous john',
 'the million dollar duck',
 'the biscuit eater',
 "now you see him, now you don't",
 'napoleon and samantha',
 'run, cougar, run',
 'snowball express',
 "the world's greatest athlete",
 'charley and the angel',
 'one little indian',
 'robin hood',
 'superdad',
 'herbie rides again',
 'the bears and i',
 'the castaway cowboy',
 'the island at the top of the world',
 'the strongest man in the world',
 'escape to witch mountain',
 'the apple dumpling gang',
 'one of our dinosaurs is missing',
 "the best of walt disney's true-life adventures",
 'ride a wild pony',
 'no deposit, no return',
 'treasure of matecumbe',
 'gus',
 'the shaggy d.a.',
 'freaky friday: the movie',
 'escape from the dark',
 'the many adventures of winnie the pooh',
 'a tale of two critters',
 'the rescuers',
 'herbie goes to monte carlo',
 "pete's dragon",
 'candleshoe',
 'return from witch mountain',
 'the cat from outer space',
 'hot lead and cold feet',
 'the north avenue irregulars',
 'the apple dumpling gang rides again',
 'unidentified flying oddball',
 'the black hole',
 'the omega connection',
 'midnight madness',
 'the watcher in the woods',
 'herbie goes bananas',
 "the last flight of noah's ark",
 'popeye',
 'the devil and max devlin',
 'amy',
 'dragonslayer',
 'the fox and the hound',
 'condorman',
 'night crossing',
 'tron',
 'tex',
 'trenchcoat',
 'something wicked this way comes',
 'never cry wolf',
 'return to oz',
 'the black cauldron',
 'the journey of natty gann',
 'one magic christmas',
 'the great mouse detective',
 'flight of the navigator',
 'benji the hunted',
 'the man from snowy river ii',
 'oliver & company',
 'honey, i shrunk the kids',
 'cheetah',
 'the little mermaid',
 'ducktales the movie: treasure of the lost lamp',
 'the rescuers down under',
 'white fang',
 'shipwrecked',
 "wild hearts can't be broken",
 'the rocketeer',
 'beauty and the beast',
 'newsies',
 'honey, i blew up the kid',
 'the mighty ducks',
 'aladdin',
 'the muppet christmas carol',
 'homeward bound: the incredible journey',
 'a far off place',
 'the adventures of huck finn',
 'hocus pocus',
 'cool runnings',
 'the three musketeers',
 'iron will',
 'blank check',
 'd2: the mighty ducks',
 'white fang 2: myth of the white wolf',
 'the lion king',
 'angels in the outfield',
 "squanto: a warrior's tale",
 'the santa clause',
 "rudyard kipling's the jungle book",
 'heavyweights',
 'man of the house',
 'tall tale',
 'a goofy movie',
 'pocahontas',
 'operation dumbo drop',
 "a kid in king arthur's court",
 'the big green',
 'frank and ollie',
 'toy story',
 'tom and huck',
 'muppet treasure island',
 'homeward bound ii:lost in san francisco',
 'james and the giant peach',
 'the hunchback of notre dame',
 'first kid',
 'd3: the mighty ducks',
 '101 dalmatians',
 'that darn cat',
 'jungle 2 jungle',
 'hercules',
 'george of the jungle',
 'air bud',
 'rocketman',
 'flubber',
 'mr. magoo',
 'meet the deedles',
 'mulan',
 'the parent trap',
 "i'll be home for christmas",
 "a bug's life",
 'mighty joe young',
 'my favorite martian',
 "doug's 1st movie",
 'endurance',
 'tarzan',
 'inspector gadget',
 'the straight story',
 'toy story 2',
 'fantasia 2000',
 'the tigger movie',
 'dinosaur',
 'the kid',
 'remember the titans',
 '102 dalmatians',
 "the emperor's new groove",
 "recess: school's out",
 'atlantis: the lost empire',
 'the princess diaries',
 "max keeble's big move",
 'monsters, inc.',
 'snow dogs',
 'return to never land',
 'the rookie',
 'lilo & stitch',
 'the country bears',
 'spirited away',
 'tuck everlasting',
 'the santa clause 2',
 'treasure planet',
 'the jungle book 2',
 "piglet's big movie",
 'ghosts of the abyss',
 'holes',
 'the lizzie mcguire movie',
 'finding nemo',
 'pirates of the caribbean:the curse of the black pearl',
 'freaky friday',
 'brother bear',
 'the haunted mansion',
 'the young black stallion',
 "teacher's pet",
 'miracle',
 'confessions of a teenagedrama queen',
 'home on the range',
 'sacred planet',
 'around the world in 80 days',
 "america's heart and soul",
 'the princess diaries 2:royal engagement',
 'the incredibles',
 'national treasure',
 'aliens of the deep',
 "pooh's heffalump movie",
 'the pacifier',
 'ice princess',
 'herbie: fully loaded',
 "howl's moving castle",
 'sky high',
 'valiant',
 'the greatest game ever played',
 'chicken little',
 'the chronicles of narnia:the lion, the witch and the wardrobe',
 'glory road',
 'roving mars',
 'eight below',
 'the shaggy dog',
 'the wild',
 'cars',
 "pirates of the caribbean:  dead man's chest",
 'invincible',
 'the nightmare before christmas',
 'the santa clause 3:the escape clause',
 'bridge to terabithia',
 'meet the robinsons',
 "pirates of the caribbean:  at world's end",
 'ratatouille',
 'underdog',
 'the pixar story',
 'the game plan',
 'enchanted',
 'national treasure: book of secrets',
 'hannah montana and miley cyrus:best of both worlds concert',
 'college road trip',
 'the chronicles of narnia: prince caspian',
 'wall-e',
 'beverly hills chihuahua',
 'morning light',
 'bolt',
 'bedtime stories',
 'the secret of the magic gourd',
 'race to witch mountain',
 'hannah montana: the movie',
 'up',
 'g-force',
 'ponyo',
 'the book of masters',
 'a christmas carol',
 'old dogs',
 'the princess and the frog',
 'alice in wonderland',
 'prince of persia: the sands of time',
 'toy story 3',
 "the sorcerer's apprentice",
 'tales from earthsea',
 'the crimson wing: mystery of the flamingos',
 'secretariat',
 'do dooni chaar',
 'tangled',
 "the boys: the sherman brothers' story",
 'tron: legacy',
 'lilly the witch:the journey to mandolan',
 'mars needs moms',
 'zokkomon',
 'african cats',
 'prom',
 'pirates of the caribbean:on stranger tides',
 'cars 2',
 'winnie the pooh',
 'the muppets',
 'arrietty',
 'john carter',
 'chimpanzee',
 'arjun: the warrior prince',
 'brave',
 'the odd life of timothy green',
 'frankenweenie',
 'wreck-it ralph',
 'oz the great and powerful',
 'wings of life',
 'monsters university',
 'the lone ranger',
 'planes',
 'frozen',
 'saving mr. banks',
 'muppets most wanted',
 'bears',
 'million dollar arm',
 'maleficent',
 'planes: fire & rescue',
 'khoobsurat',
 'alexander and the terrible, horrible, no good, very bad day',
 'big hero 6',
 'into the woods',
 'mcfarland, usa',
 'cinderella',
 'monkey kingdom',
 'tomorrowland',
 'inside out',
 'abcd 2',
 'the good dinosaur',
 'the finest hours',
 'zootopia',
 'the jungle book',
 'tini: the movie',
 'alice through the looking glass',
 'finding dory',
 'the bfg',
 "pete's dragon",
 'queen of katwe',
 'moana',
 'dangal',
 'march of the penguins',
 'beauty and the beast',
 'born in china',
 'pirates of the caribbean:dead men tell no tales',
 'cars 3',
 'jagga jasoos',
 'coco',
 'a wrinkle in time',
 'incredibles 2',
 'christopher robin',
 'the nutcracker and the four realms',
 'ralph breaks the internet',
 'mary poppins returns',
 'dumbo',
 'penguins',
 'aladdin',
 'toy story 4',
 'the lion king',
 'maleficent: mistress of evil',
 'lady and the tramp',
 'noelle',
 'frozen ii',
 'togo',
 'timmy failure: mistakes were made',
 'onward',
 'stargirl',
 'dolphin reef',
 'elephant',
 'artemis fowl',
 'hamilton',
 'black is king',
 'magic camp',
 'the one and only ivan',
 'mulan',
 'godmothered',
 'safety',
 'soul',
 'flora & ulysses',
 'raya and the last dragon',
 'night at the museum']

In [17]:
# The length of title_runtime_int equals movies_with_runtime_int
len(title_runtime_int)

428

In [18]:
# How many unique titles are there?
len({x:title_runtime_int.count(x) for x in title_runtime_int})

416

The count of unique movies that have an integer running time is 416.

In [19]:
# Rename the title_runtime_int list to only store the unique titles in title_runtime_int
title_runtime_int = list({x:title_runtime_int.count(x) for x in title_runtime_int}.keys())
len(title_runtime_int)

416

## Function: running_time(dictionary)

In [20]:
# Create a function that will take in a dictionary that contains the key 'Running time'.
# If the value type of 'Running time' is a str then change the value to an integer variable 'time'.
# return the 'time' variable
def running_time(dictionary):
    if type(dictionary['Running time']) is str:
        time = int(dictionary['Running time'].split(' ', 1)[0].split('–')[0])
       
    
    elif (type(dictionary['Running time']) is list) and (sum([x.find('minutes') for x in dictionary['Running time']])>0):
        time = [int(x.split(' ', 1)[0].split('–')[0]) for x in dictionary['Running time']][0]
     
    else:
        time =  dictionary['Running time']
            
    return time

In [21]:
# Testing running_time(dictionary) with 'vanishing praire'
test = df[[index for index, x in enumerate(df) if x['title'] == 'the vanishing prairie'][0]]
test

{'title': 'the vanishing prairie',
 'Produced by': ['ben sharpsteen', 'walt disney'],
 'Written by': ['james algar', 'winston hibler'],
 'Narrated by': 'winston hibler',
 'Music by': 'paul j. smith',
 'Cinematography': 'n. paul kenworthy',
 'Edited by': 'lloyd l. richardson',
 'Production company': 'walt disney productions',
 'Distributed by': 'buena vista distribution',
 'Release date': ['august 17, 1954 ( 1954-08-17 )'],
 'Running time': ['60 minutes (vhs version)', '71 minutes (original)'],
 'Country': 'united states',
 'Language': 'english',
 'Box office': '$1.75 million (us and canadian rentals)'}

In [22]:
[int(x.split(' min', 1)[0].split('–')[0]) for x in test['Running time']][0]

60

In [23]:
# Testing running_time(dictionary) function.
# Grab the dictionary for 'Savage Sam' and store the dictionary as variable, 'test'.
test = df[[index for index, x in enumerate(df) if x['title']=='savage sam'][0]]
test

{'title': 'savage sam',
 'Directed by': 'norman tokar',
 'Produced by': ['ron miller', 'walt disney'],
 'Written by': ['fred gipson', 'william turberg'],
 'Based on': 'savage sam by fred gipson',
 'Starring': ['brian keith', 'tommy kirk', 'kevin corcoran'],
 'Music by': 'oliver wallace',
 'Cinematography': 'edward colman',
 'Edited by': 'grant k. smith',
 'Production company': 'walt disney productions',
 'Distributed by': 'buena vista distribution',
 'Release date': 'june 1, 1963',
 'Running time': '103 minutes',
 'Country': 'united states',
 'Language': 'english',
 'Box office': '$3,000,000 (us/ canada)'}

In [24]:
# Testing running_time(dictionary) function with 'test' variable.
running_time(test)

103

In [25]:
# How many dictionaries in our list contain a title that is in the list title_runtime_int?
len([x for x in df if x['title'] in title_runtime_int ])

429

Question the data - Are there repeating dictionary titles maybe for remakes of movies?

In [26]:
# update df to change the keys of dictionaries that contain 'Running time' to integers using running_time(dictionary)
# Else - if there is no 'Running time' in the dictionary return the original dictionary

df = [{**x, 'Running time': running_time(x)} if 'Running time' in x else x for x in df ]

In [27]:
# How many movies do not have running time as an integer?
len([x for x in df if 'Running time' in x and type(x['Running time']) is not int])

4

In [28]:
# Which movies do not have 'Running time' as an integer?
[{'title': x['title'], 'Running time': x['Running time']} for x in df if 'Running time' in x and type(x['Running time']) is not int]

[{'title': 'the happiest millionaire',
  'Running time': ['los angeles', 'new york city', "director's cut"]},
 {'title': 'high school musical 3:  senior year', 'Running time': ['[1]']},
 {'title': 'jonas brothers:the 3d concert experience',
  'Running time': ['[1]', '[2]']},
 {'title': 'earth', 'Running time': ['[1]']}]

In [29]:
# Change running time of 'The Happiest Millionarie'
df[[index for index, x in enumerate(df) if x['title']=='the happiest millionaire'][0]]['Running time'] = 118

In [30]:
# Change running time of 'High School Musical 3:  Senior Year'
df[[index for index, x in enumerate(df) if x['title']=='high school musical 3:  senior year'][0]]['Running time'] = 111

In [31]:
# Change running time of 'Jonas Brothers: the 3D Concert Experience'
df[[index for index, x in enumerate(df) if x['title']=='jonas brothers:the 3d concert experience'][0]]['Running time'] = 76

In [32]:
# Change running time of 'Earth'
df[[index for index, x in enumerate(df) if x['title']=='earth'][0]]['Running time'] = 90

In [33]:
# Check that running time updated
[{'title': x['title'], 'Running time': x['Running time']} for x in df if x['title'] in ['earth', 'jonas brothers:the 3d concert experience', 'high school musical 3:  senior year', 'the happiest millionaire'] ]

[{'title': 'the happiest millionaire', 'Running time': 118},
 {'title': 'high school musical 3:  senior year', 'Running time': 111},
 {'title': 'jonas brothers:the 3d concert experience', 'Running time': 76},
 {'title': 'earth', 'Running time': 90}]

In [34]:
# Curious - What is the average 'Running time' value
sum([x['Running time'] for x in df if 'Running time' in x and type(x['Running time']) is int])/len([x['Running time'] for x in df if 'Running time' in x and type(x['Running time']) is int])

97.5816091954023

In [35]:
# What is the max running time?
max_time = max([x['Running time'] for x in df if 'Running time' in x and type(x['Running time']) is int])
max_time

306

???? 306 minutes seems too long for a movie. Let's find out where this may be later.

In [36]:
# What is the minimum running time?
min_time = min(x['Running time'] for x in df if 'Running time' in x)
min_time

22

This seems too short for a feature length film.
\
\
Let's look at where these minimum and maximums are.

In [37]:
# find dictionaries where running time is equal to max_time. Store the index, and title in a list.
[(index, x['title']) for index, x in enumerate(df) if ('Running time' in x) and (x['Running time']==max_time) ]

[(446, 'night at the museum')]

Going back to the wiki page for 'Night at the Museum' This is a movie that is set for future production. This movie is part of a series, and looks like the wiki pages shows running time as running time for all the movies. We can remove this dictionary from the df list.

In [38]:
# find dictionaries where running time is equal to min_time. Store the index, and title in a list.
[(index, x['title']) for index, x in enumerate(df) if ('Running time' in x) and (x['Running time']==min_time)]

[(43, 'zorro'), (48, 'zorro')]

Going back to the wiki page for 'Zorro' these are both a part of series that aired on ABC. These are only episodes that are 22 minutes long. We can remove these dictionaries from the df list.

In [39]:
# Let's make sure there is only one 'Night at the Museum' movie before we remove the dictionary.
[(index, x['title']) for index, x in enumerate(df) if x['title']=='night at the museum']

[(446, 'night at the museum')]

In [40]:
# Let's make sure there are only two 'Zorro' movies before we remove the dictionaries.
[(index,x['title']) for index, x in enumerate(df) if x['title']=='zorro']

[(43, 'zorro'), (48, 'zorro')]

In [41]:
# Let's remove these movies from the list.
df = [x for x in df if x['title'] not in ['night at the museum', 'zorro']]

# the length should be 444 if we are dropping 3 movies.    
len(df)

444

In [42]:
# Now what is the movie with the max time?
max_time = max([x['Running time'] for x in df if 'Running time' in x and type(x['Running time']) is int])
max_time

167

In [43]:
[(index, x) for index, x in enumerate(df) if ('Running time' in x) and (x['Running time']==max_time) ]

[(302,
  {'title': "pirates of the caribbean:  at world's end",
   'Directed by': 'gore verbinski',
   'Produced by': 'jerry bruckheimer',
   'Written by': ['ted elliott', 'terry rossio'],
   'Based on': ['characters by ted elliott terry rossio stuart beattie jay wolpert',
    'ted elliott',
    'terry rossio',
    'stuart beattie',
    'jay wolpert',
    'pirates of the caribbean by walt disney'],
   'Starring': ['johnny depp',
    'orlando bloom',
    'keira knightley',
    'stellan skarsgård',
    'bill nighy',
    'chow yun-fat',
    'geoffrey rush',
    'jack davenport',
    'kevin r. mcnally',
    'jonathan pryce'],
   'Music by': 'hans zimmer',
   'Cinematography': 'dariusz wolski',
   'Edited by': ['craig wood', 'stephen rivkin'],
   'Production companies': ['walt disney pictures', 'jerry bruckheimer films'],
   'Distributed by': 'buena vista pictures',
   'Release date': ['may 19, 2007 ( 2007-05-19 ) ( disneyland resort )',
    'may 25, 2007 ( 2007-05-25 ) (united states)'],
   'Running time': 167,
   'Country': 'united states',
   'Language': 'english',
   'Budget': '$300 million',
   'Box office': '$961 million'})]

In [44]:
# Now what is the movie with the min time?
min_time = min(x['Running time'] for x in df if 'Running time' in x)
min_time

40

In [45]:
[(index, x) for index, x in enumerate(df) if ('Running time' in x) and (x['Running time']==min_time)]

[(273,
  {'title': 'sacred planet',
   'Directed by': ['jon long', 'hairul salleh askor'],
   'Produced by': ['jon long', 'karen fernandez long'],
   'Written by': ['karen fernandez long', 'jon long'],
   'Starring': ['arapata mckay',
    'tsaan ciqae',
    'mae tui',
    'cy peck jr.',
    'mutang urud'],
   'Narrated by': 'robert redford',
   'Cinematography': 'william reeve',
   'Edited by': 'jon long',
   'Production company': 'walt disney pictures',
   'Distributed by': 'buena vista pictures',
   'Release date': ['april 22, 2004 ( 2004-04-22 )'],
   'Running time': 40,
   'Countries': ['canada', 'malaysia', 'united states'],
   'Language': 'english',
   'Box office': '$1,108,356'}),
 (291,
  {'title': 'roving mars',
   'Directed by': 'george butler',
   'Produced by': ['frank marshall'],
   'Written by': ['robert andrus', 'george butler'],
   'Narrated by': 'paul newman (introduction only)',
   'Music by': ['philip glass', 'sigur rós'],
   'Cinematography': 't.c. christensen',
   'Edited by': 'nancy baker',
   'Production companies': ['walt disney pictures',
    'white mountain films',
    'the kennedy/marshall company'],
   'Distributed by': 'buena vista pictures',
   'Release date': ['january 27, 2006 ( 2006-01-27 )'],
   'Running time': 40,
   'Country': 'united states',
   'Language': 'english',
   'Budget': '$1 million',
   'Box office': '$11 million'})]

In [46]:
# We now have the Running time field cleaned up.
# let's save this to a 'cleaned' version - movie_dictionaries_cleaned.json

write_to_json(df,'movie_dictionaries_cleaned.json')

In [47]:
df=load_data('movie_dictionaries_cleaned.json')
len(df)

444

In [48]:
[(index, x['title']) for index,x in enumerate(df) if x.get('Running time', 'N\A')=='N\A']

[(324, 'lilly the witch:the dragon and the magic book'),
 (327, 'walt & el grupo'),
 (344, 'anaganaga o dheerudu'),
 (401, 'ghost of the mountains'),
 (436, 'cruella'),
 (437, 'jungle cruise'),
 (438, 'the beatles: get back'),
 (439, 'encanto'),
 (440, 'the little mermaid'),
 (441, 'peter pan & wendy'),
 (442, 'home alone'),
 (443, 'shrunk')]

Looking at the wiki pages for these movies the running time is either not listed or the movie is 'in production' phase

# Cleaning task - Standardize budget and box office fields to be float data type.

In [49]:
# movie has 'Budget' data
len([x.get('Budget') for x in df if x.get('Budget') is not None])

284

In [50]:
# movie has 'Box office' data
len([x.get('Box office') for x in df if x.get('Box office') is not None])

368

In [51]:
# movie has both 'Box office' and 'Budget data'
len([(x.get('Budget'), x.get('Box office')) for x in df if x.get('Budget') is not None and x.get('Box office') is not None])

272

In [52]:
# what does the format of the budget key look like?
[(i,x.get('Budget')) for i,x in enumerate(df) if x.get('Budget') is not None]

[(1, '$1.49 million'),
 (2, '$2.6 million'),
 (3, '$2.28 million'),
 (4, '$600,000'),
 (5, '$950,000'),
 (6, '$858,000'),
 (8, '$788,000'),
 (10, '$1.35 million'),
 (11, '$2.125 million'),
 (13, '$1.5 million'),
 (14, '$1.5 million'),
 (16, '$2.9 million'),
 (17, '$1,800,000'),
 (18, '$3 million'),
 (20, '$4 million'),
 (21, '$2 million'),
 (22, '$300,000'),
 (23, '$1.8 million'),
 (25, '$5 million'),
 (27, '$4 million'),
 (34, '$700,000'),
 (40, '$6 million'),
 (41, 'under $1 million or $1,250,000'),
 (43, '$2 million'),
 (46, '$2.5 million'),
 (49, '$4 million'),
 (50, '$3.6 million'),
 (55, '$3 million'),
 (57, '$3 million'),
 (67, '$3 million'),
 (72, '$4.4–6 million'),
 (84, '$4 million'),
 (86, '$5 million'),
 (91, '$5 million'),
 (98, '$4 million'),
 (102, '$6.3 million'),
 (111, '$5 million'),
 (116, '$8 million'),
 (122, 'au$1 million'),
 (127, '$5 million'),
 (131, '$7.5 million'),
 (133, '$10 million'),
 (136, '$3.5 to 4 million'),
 (140, '$5.25 million'),
 (141, '$20 million'),
 (144, '$9 million'),
 (146, '$6-8 million'),
 (147, '$20 million'),
 (150, '$18 million'),
 (151, '$12 million'),
 (152, '$14 million'),
 (154, 'us$ 17 million'),
 (155, '$5 million'),
 (156, 'unknown'),
 (157, '$20 million'),
 (158, '$11 million'),
 (159, '$28 million'),
 (160, '$44 million'),
 (163, '$14 million'),
 (164, '$9 million'),
 (166, 'a$8.7 million'),
 (167, '$31 million'),
 (168, '$18 million'),
 (169, '$5 million'),
 (170, '$40 million'),
 (171, '$20 million'),
 (173, '$14 million'),
 (174, '60 million norwegian kroner (around $8.7 million in 1989)'),
 (176, '$35-40 million'),
 (177, '$25 million'),
 (178, '$15 million'),
 (179, '$40 million'),
 (180, '$14 million'),
 (181, '$28 million'),
 (182, '$12 million'),
 (185, '$6.5 million'),
 (186, '$28 million'),
 (187, '$17 million'),
 (188, '$30 million'),
 (190, '$13 million'),
 (193, '$45 million'),
 (194, '$31 million'),
 (196, '$22 million'),
 (197, '$30 million'),
 (199, '$22 million'),
 (200, ['$32 million', '<small>(estimated)</small>']),
 (202, '$55 million'),
 (203, '$24 million'),
 (204, '$15 million'),
 (205, '$12 million'),
 (207, '$30 million'),
 (209, '$31 million'),
 (211, '$38 million'),
 (212, '$100 million'),
 (213, '$15 million'),
 (215, '$75 million'),
 (217, '$32 million'),
 (218, '$85 million'),
 (219, '$55 million'),
 (220, '$3 million'),
 (221, '$16 million'),
 (222, '$80 million'),
 (223, '$30 million'),
 (224, '$24 million'),
 (225, '$90 million'),
 (226, '$15 million'),
 (227, '$30 million'),
 (228, '$120 million'),
 (229, '$90 million'),
 (230, '$65 million'),
 (231, '$5 million'),
 (233, '$130 million'),
 (234, '$90 million'),
 (235, '$10 million'),
 (236, '$90 million'),
 (237, '$80–$85 million'),
 (238, '$15 million –$30 million'),
 (239, '$127.5 million'),
 (240, '$65 million'),
 (241, '$30 million'),
 (242, '$85 million'),
 (243, '$100 million'),
 (244, '$23 million'),
 (245, '$90–120 million'),
 (246, '$26 million'),
 (247, '$25 million'),
 (248, '$115 million'),
 (249, '$33 million'),
 (250, '$20 million'),
 (251, '$22 million'),
 (252, '$80 million'),
 (253, '$35 million'),
 (254, ['¥', '[2]', '[3]', '[4]']),
 (255, '$15 million'),
 (256, '$65 million'),
 (257, '$140 million'),
 (258, '$20 million'),
 (259, '$46 million'),
 (260, '$13 million'),
 (261, '$20 million'),
 (262, '$17 million'),
 (263, '$94 million'),
 (264, '$140 million'),
 (265, '$26 million'),
 (266, '$46 million'),
 (267, '$90 million'),
 (269, '$10 million'),
 (270, '$28 million'),
 (271, '$15 million'),
 (272, '$110 million'),
 (274, '$110 million'),
 (276, '$45 million'),
 (277, '$92 million'),
 (278, '$100 million'),
 (280, '$20 million'),
 (281, '$56 million'),
 (282, '$25 million'),
 (283, '$50 million'),
 (284, ['¥']),
 (285, '$35 million'),
 (286, '$35 million'),
 (287, '$25 million'),
 (288, '$150 million'),
 (289, '$180 million'),
 (290, '$30 million'),
 (291, '$1 million'),
 (292, '$40 million'),
 (293, '$50 million'),
 (294, '$80 million'),
 (295, '$120 million'),
 (296, '$225 million'),
 (297, '$30 million'),
 (298, '$26 million'),
 (299, '$12 million'),
 (300, '$20–25 million'),
 (301, '$150 million'),
 (302, '$300 million'),
 (303, '$150 million'),
 (304, '$25 million'),
 (306, '$22 million'),
 (307, '$85 million'),
 (308, '$130 million'),
 (309, '$7 million'),
 (310, '$25 million'),
 (311, '$225 million'),
 (312, '$180 million'),
 (313, '$20 million'),
 (315, '$11 million'),
 (316, '$150 million'),
 (317, '$80 million'),
 (320, '$50 million'),
 (321, '$30 million'),
 (322, '$47 million'),
 (323, '$175 million'),
 (325, '$150 million'),
 (326, ['¥', 'us$']),
 (328, '$8 million ( ₽ 350 million)'),
 (329, '$175-200 million'),
 (330, '$35 million'),
 (331, '$105 million'),
 (332, '$150 –$200 million'),
 (333, '$80 million'),
 (334, '$200 million'),
 (335, '$200 million'),
 (336, '$150 million'),
 (337, '$22 million'),
 (339, '$35 million'),
 (341, '$260 million'),
 (343, '$170 million'),
 (344, '₹ 27 crore (us$3.8 million)'),
 (346, '$150 million'),
 (348, '$5 million'),
 (349, '$8 million'),
 (350, ['$410.6 million (gross)', '$378.5 million (net)']),
 (351, '$200 million'),
 (352, '$30 million'),
 (353, '$45 million'),
 (354, '$23 million'),
 (355, ['$306.6 million (gross)', '$263.7 million (net)']),
 (356, '$5 million'),
 (358, '$185 million'),
 (359, '$25 million'),
 (360, '$39 million'),
 (361, '$165 million'),
 (362, '$200–215 million'),
 (364, '$200 million'),
 (365, '$225–250 million'),
 (366, '$50 million'),
 (367, '$150 million'),
 (368, '$35 million'),
 (369, '$51 million'),
 (370, '$5 million'),
 (371, '$25 million'),
 (372, '$180–263 million'),
 (373, '$50 million'),
 (374, '₹ 230 million (us$3.2 million)'),
 (375, '$28 million'),
 (376, '$165 million'),
 (377, '$50 million'),
 (378, '$25 million'),
 (379, '$95 million'),
 (380, '$5–10 million'),
 (381, '$180–190 million'),
 (382, '$175 million'),
 (383, '₹520 million'),
 (384, '$175 million'),
 (385, '$70–80 million'),
 (386, '$150 million'),
 (387, '$175–177 million'),
 (389, '$170 million'),
 (390, '$175–200 million'),
 (391, '$140 million'),
 (392, '$65 million'),
 (393, '$15 million'),
 (394, '$150–175 million'),
 (395, '₹ 70 crore'),
 (396, '$8 million'),
 (397, '$160–255 million'),
 (398, '$5–10 million'),
 (399, '$230–320 million'),
 (400, '$175 million'),
 (402, ['[2]']),
 (403, '$175–225 million'),
 (404, '$100–130 million'),
 (405, '$200 million'),
 (406, '$70-75 million'),
 (407, '$120–133 million'),
 (408, '$175 million'),
 (409, '$130 million'),
 (410, '$170 million'),
 (412, '$183 million'),
 (413, '$200 million'),
 (414, '$250–260 million'),
 (415, '$185 million'),
 (416, '$60 million'),
 (418, '$150 million'),
 (419, '$40 million'),
 (420, '$42 million'),
 (421, '$175–200 million'),
 (425, '$125 million'),
 (426, '$12.5 million (stage production)'),
 (428, '$24 million'),
 (430, '$200 million'),
 (433, '$150 million+')]

- Let's strip out `$` - strip('$')
- Let's strip out 'million' and the space before it so we don't have to strip the space later - .strip(' million')
- For the movies that are in hundred thousands replace ',' with '' - .replace(',',"")

In [53]:
budget_int_list = []
could_not_convert = []
for i,x in enumerate(df):
    if x.get('Budget') is not None and type(x.get('Budget')) is str:
        try:
            budget = float(x.get('Budget').strip('$').split(' million', 1)[0].replace(',',"").split('–',1)[0].split('-')[0].split('to',1)[0])
            
            
            if budget < 500.0:
                budget =budget * (1000000)
            
            budget_int_list.append(budget)
            df[i]['Budget']=budget
            print(i,budget)
        
        except Exception as e:
            could_not_convert.append({i:{'title':x.get('title'),'Budget':x.get('Budget')}})
            print(e, i, x.get('title'), x.get('Budget'))
            continue
            
    elif x.get('Budget') is not None and type(x.get('Budget')) is list:
        try:
            budget=float(x.get('Budget')[0].strip('$').split(' million', 1)[0].replace(',',"").split('–',1)[0].split('-')[0].split('to',1)[0])
            
            if budget < 500.0:
                budget =budget * (1000000)
            
            budget_int_list.append(budget)
            df[i]['Budget']=budget
            print(i,budget)
        
        except Exception as e:
            could_not_convert.append({i:{'title':x.get('title'),'Budget':x.get('Budget')}})
            print(e, i, x.get('title'), x.get('Budget'))
            continue

1 1490000.0
2 2600000.0
3 2280000.0
4 600000.0
5 950000.0
6 858000.0
8 788000.0
10 1350000.0
11 2125000.0
13 1500000.0
14 1500000.0
16 2900000.0
17 1800000.0
18 3000000.0
20 4000000.0
21 2000000.0
22 300000.0
23 1800000.0
25 5000000.0
27 4000000.0
34 700000.0
40 6000000.0
could not convert string to float: 'under $1' 41 the shaggy dog under $1 million or $1,250,000
43 2000000.0
46 2500000.0
49 4000000.0
50 3600000.0
55 3000000.0
57 3000000.0
67 3000000.0
72 4400000.0
84 4000000.0
86 5000000.0
91 5000000.0
98 4000000.0
102 6300000.0
111 5000000.0
116 8000000.0
could not convert string to float: 'au$1' 122 ride a wild pony au$1 million
127 5000000.0
131 7500000.0
133 10000000.0
136 3500000.0
140 5250000.0
141 20000000.0
144 9000000.0
146 6000000.0
147 20000000.0
150 18000000.0
151 12000000.0
152 14000000.0
could not convert string to float: 'us$ 17' 154 tron us$ 17 million
155 5000000.0
could not convert string to float: 'unknown' 156 trenchcoat unknown
157 20000000.0
158 11000000.0
159 28000000.0
160 44000000.0
163 14000000.0
164 9000000.0
could not convert string to float: 'a$8.7' 166 the man from snowy river ii a$8.7 million
167 31000000.0
168 18000000.0
169 5000000.0
170 40000000.0
171 20000000.0
173 14000000.0
174 60000000.0
176 35000000.0
177 25000000.0
178 15000000.0
179 40000000.0
180 14000000.0
181 28000000.0
182 12000000.0
185 6500000.0
186 28000000.0
187 17000000.0
188 30000000.0
190 13000000.0
193 45000000.0
194 31000000.0
196 22000000.0
197 30000000.0
199 22000000.0
200 32000000.0
202 55000000.0
203 24000000.0
204 15000000.0
205 12000000.0
207 30000000.0
209 31000000.0
211 38000000.0
212 100000000.0
213 15000000.0
215 75000000.0
217 32000000.0
218 85000000.0
219 55000000.0
220 3000000.0
221 16000000.0
222 80000000.0
223 30000000.0
224 24000000.0
225 90000000.0
226 15000000.0
227 30000000.0
228 120000000.0
229 90000000.0
230 65000000.0
231 5000000.0
233 130000000.0
234 90000000.0
235 10000000.0
236 90000000.0
237 80000000.0
238 15000000.0
239 127500000.0
240 65000000.0
241 30000000.0
242 85000000.0
243 100000000.0
244 23000000.0
245 90000000.0
246 26000000.0
247 25000000.0
248 115000000.0
249 33000000.0
250 20000000.0
251 22000000.0
252 80000000.0
253 35000000.0
could not convert string to float: '¥' 254 spirited away ['¥', '[2]', '[3]', '[4]']
255 15000000.0
256 65000000.0
257 140000000.0
258 20000000.0
259 46000000.0
260 13000000.0
261 20000000.0
262 17000000.0
263 94000000.0
264 140000000.0
265 26000000.0
266 46000000.0
267 90000000.0
269 10000000.0
270 28000000.0
271 15000000.0
272 110000000.0
274 110000000.0
276 45000000.0
277 92000000.0
278 100000000.0
280 20000000.0
281 56000000.0
282 25000000.0
283 50000000.0
could not convert string to float: '¥' 284 howl's moving castle ['¥']
285 35000000.0
286 35000000.0
287 25000000.0
288 150000000.0
289 180000000.0
290 30000000.0
291 1000000.0
292 40000000.0
293 50000000.0
294 80000000.0
295 120000000.0
296 225000000.0
297 30000000.0
298 26000000.0
299 12000000.0
300 20000000.0
301 150000000.0
302 300000000.0
303 150000000.0
304 25000000.0
306 22000000.0
307 85000000.0
308 130000000.0
309 7000000.0
310 25000000.0
311 225000000.0
312 180000000.0
313 20000000.0
315 11000000.0
316 150000000.0
317 80000000.0
320 50000000.0
321 30000000.0
322 47000000.0
323 175000000.0
325 150000000.0
could not convert string to float: '¥' 326 ponyo ['¥', 'us$']
328 8000000.0
329 175000000.0
330 35000000.0
331 105000000.0
332 150000000.0
333 80000000.0
334 200000000.0
335 200000000.0
336 150000000.0
337 22000000.0
339 35000000.0
341 260000000.0
343 170000000.0
could not convert string to float: '₹ 27 crore (us$3.8' 344 anaganaga o dheerudu ₹ 27 crore (us$3.8 million)
346 150000000.0
348 5000000.0
349 8000000.0
350 410600000.0
351 200000000.0
352 30000000.0
353 45000000.0
354 23000000.0
355 306600000.0
356 5000000.0
358 185000000.0
359 25000000.0
360 39000000.0
361 165000000.0
362 200000000.0
364 200000000.0
365 225000000.0
366 50000000.0
367 150000000.0
368 35000000.0
369 51000000.0
370 5000000.0
371 25000000.0
372 180000000.0
373 50000000.0
could not convert string to float: '₹ 230' 374 khoobsurat ₹ 230 million (us$3.2 million)
375 28000000.0
376 165000000.0
377 50000000.0
378 25000000.0
379 95000000.0
380 5000000.0
381 180000000.0
382 175000000.0
could not convert string to float: '₹520' 383 abcd 2 ₹520 million
384 175000000.0
385 70000000.0
386 150000000.0
387 175000000.0
389 170000000.0
390 175000000.0
391 140000000.0
392 65000000.0
393 15000000.0
394 150000000.0
could not convert string to float: '₹ 70 crore' 395 dangal ₹ 70 crore
396 8000000.0
397 160000000.0
398 5000000.0
399 230000000.0
400 175000000.0
could not convert string to float: '[2]' 402 jagga jasoos ['[2]']
403 175000000.0
404 100000000.0
405 200000000.0
406 70000000.0
407 120000000.0
408 175000000.0
409 130000000.0
410 170000000.0
412 183000000.0
413 200000000.0
414 250000000.0
415 185000000.0
416 60000000.0
418 150000000.0
419 40000000.0
420 42000000.0
421 175000000.0
425 125000000.0
426 12500000.0
428 24000000.0
430 200000000.0
433 150000000.0

In [54]:
budget_int_list.sort()
budget_int_list

[300000.0,
 600000.0,
 700000.0,
 788000.0,
 858000.0,
 950000.0,
 1000000.0,
 1350000.0,
 1490000.0,
 1500000.0,
 1500000.0,
 1800000.0,
 1800000.0,
 2000000.0,
 2000000.0,
 2125000.0,
 2280000.0,
 2500000.0,
 2600000.0,
 2900000.0,
 3000000.0,
 3000000.0,
 3000000.0,
 3000000.0,
 3000000.0,
 3500000.0,
 3600000.0,
 4000000.0,
 4000000.0,
 4000000.0,
 4000000.0,
 4000000.0,
 4400000.0,
 5000000.0,
 5000000.0,
 5000000.0,
 5000000.0,
 5000000.0,
 5000000.0,
 5000000.0,
 5000000.0,
 5000000.0,
 5000000.0,
 5000000.0,
 5000000.0,
 5000000.0,
 5250000.0,
 6000000.0,
 6000000.0,
 6300000.0,
 6500000.0,
 7000000.0,
 7500000.0,
 8000000.0,
 8000000.0,
 8000000.0,
 8000000.0,
 9000000.0,
 9000000.0,
 10000000.0,
 10000000.0,
 10000000.0,
 11000000.0,
 11000000.0,
 12000000.0,
 12000000.0,
 12000000.0,
 12000000.0,
 12500000.0,
 13000000.0,
 13000000.0,
 14000000.0,
 14000000.0,
 14000000.0,
 14000000.0,
 15000000.0,
 15000000.0,
 15000000.0,
 15000000.0,
 15000000.0,
 15000000.0,
 15000000.0,
 15000000.0,
 16000000.0,
 17000000.0,
 17000000.0,
 18000000.0,
 18000000.0,
 20000000.0,
 20000000.0,
 20000000.0,
 20000000.0,
 20000000.0,
 20000000.0,
 20000000.0,
 20000000.0,
 20000000.0,
 20000000.0,
 22000000.0,
 22000000.0,
 22000000.0,
 22000000.0,
 22000000.0,
 23000000.0,
 23000000.0,
 24000000.0,
 24000000.0,
 24000000.0,
 25000000.0,
 25000000.0,
 25000000.0,
 25000000.0,
 25000000.0,
 25000000.0,
 25000000.0,
 25000000.0,
 25000000.0,
 26000000.0,
 26000000.0,
 26000000.0,
 28000000.0,
 28000000.0,
 28000000.0,
 28000000.0,
 28000000.0,
 30000000.0,
 30000000.0,
 30000000.0,
 30000000.0,
 30000000.0,
 30000000.0,
 30000000.0,
 30000000.0,
 30000000.0,
 30000000.0,
 31000000.0,
 31000000.0,
 31000000.0,
 32000000.0,
 32000000.0,
 33000000.0,
 35000000.0,
 35000000.0,
 35000000.0,
 35000000.0,
 35000000.0,
 35000000.0,
 35000000.0,
 38000000.0,
 39000000.0,
 40000000.0,
 40000000.0,
 40000000.0,
 40000000.0,
 42000000.0,
 44000000.0,
 45000000.0,
 45000000.0,
 45000000.0,
 46000000.0,
 46000000.0,
 47000000.0,
 50000000.0,
 50000000.0,
 50000000.0,
 50000000.0,
 50000000.0,
 50000000.0,
 51000000.0,
 55000000.0,
 55000000.0,
 56000000.0,
 60000000.0,
 60000000.0,
 65000000.0,
 65000000.0,
 65000000.0,
 65000000.0,
 70000000.0,
 70000000.0,
 75000000.0,
 80000000.0,
 80000000.0,
 80000000.0,
 80000000.0,
 80000000.0,
 80000000.0,
 85000000.0,
 85000000.0,
 85000000.0,
 90000000.0,
 90000000.0,
 90000000.0,
 90000000.0,
 90000000.0,
 90000000.0,
 92000000.0,
 94000000.0,
 95000000.0,
 100000000.0,
 100000000.0,
 100000000.0,
 100000000.0,
 105000000.0,
 110000000.0,
 110000000.0,
 115000000.0,
 120000000.0,
 120000000.0,
 120000000.0,
 125000000.0,
 127500000.0,
 130000000.0,
 130000000.0,
 130000000.0,
 140000000.0,
 140000000.0,
 140000000.0,
 150000000.0,
 150000000.0,
 150000000.0,
 150000000.0,
 150000000.0,
 150000000.0,
 150000000.0,
 150000000.0,
 150000000.0,
 150000000.0,
 150000000.0,
 150000000.0,
 150000000.0,
 160000000.0,
 165000000.0,
 165000000.0,
 170000000.0,
 170000000.0,
 170000000.0,
 175000000.0,
 175000000.0,
 175000000.0,
 175000000.0,
 175000000.0,
 175000000.0,
 175000000.0,
 175000000.0,
 175000000.0,
 175000000.0,
 180000000.0,
 180000000.0,
 180000000.0,
 180000000.0,
 183000000.0,
 185000000.0,
 185000000.0,
 200000000.0,
 200000000.0,
 200000000.0,
 200000000.0,
 200000000.0,
 200000000.0,
 200000000.0,
 200000000.0,
 225000000.0,
 225000000.0,
 225000000.0,
 230000000.0,
 250000000.0,
 260000000.0,
 300000000.0,
 306600000.0,
 410600000.0]

In [55]:
len(could_not_convert)

13

In [56]:
could_not_convert

[{41: {'title': 'the shaggy dog', 'Budget': 'under $1 million or $1,250,000'}},
 {122: {'title': 'ride a wild pony', 'Budget': 'au$1 million'}},
 {154: {'title': 'tron', 'Budget': 'us$ 17 million'}},
 {156: {'title': 'trenchcoat', 'Budget': 'unknown'}},
 {166: {'title': 'the man from snowy river ii', 'Budget': 'a$8.7 million'}},
 {254: {'title': 'spirited away', 'Budget': ['¥', '[2]', '[3]', '[4]']}},
 {284: {'title': "howl's moving castle", 'Budget': ['¥']}},
 {326: {'title': 'ponyo', 'Budget': ['¥', 'us$']}},
 {344: {'title': 'anaganaga o dheerudu',
   'Budget': '₹ 27 crore (us$3.8 million)'}},
 {374: {'title': 'khoobsurat', 'Budget': '₹ 230 million (us$3.2 million)'}},
 {383: {'title': 'abcd 2', 'Budget': '₹520 million'}},
 {395: {'title': 'dangal', 'Budget': '₹ 70 crore'}},
 {402: {'title': 'jagga jasoos', 'Budget': ['[2]']}}]

In [57]:
[{i:{x.get('title'): x.get('Budget')}} for i,x in enumerate(df) if type(x.get('Budget')) is not float and x.get('Budget') is not None]

[{41: {'the shaggy dog': 'under $1 million or $1,250,000'}},
 {122: {'ride a wild pony': 'au$1 million'}},
 {154: {'tron': 'us$ 17 million'}},
 {156: {'trenchcoat': 'unknown'}},
 {166: {'the man from snowy river ii': 'a$8.7 million'}},
 {254: {'spirited away': ['¥', '[2]', '[3]', '[4]']}},
 {284: {"howl's moving castle": ['¥']}},
 {326: {'ponyo': ['¥', 'us$']}},
 {344: {'anaganaga o dheerudu': '₹ 27 crore (us$3.8 million)'}},
 {374: {'khoobsurat': '₹ 230 million (us$3.2 million)'}},
 {383: {'abcd 2': '₹520 million'}},
 {395: {'dangal': '₹ 70 crore'}},
 {402: {'jagga jasoos': ['[2]']}}]

We will go ahead manually manipulate these budgets based on their wiki pages. If there is an austrailian (au) currency we will default to us currency.

In [58]:
df[41]['Budget'] = 1250000.0
df[122]['Budget'] = 1000000.0
df[154]['Budget'] = 17000000.0
df[156]['Budget'] = 'NA'
df[166]['Budget'] = 8700000.0
df[254]['Budget'] = 15000000.0
df[284]['Budget'] = 24000000.0
df[326]['Budget'] = 34000000.0
df[344]['Budget'] = 3800000.0
df[374]['Budget'] = 3200000.0
df[383]['Budget'] = 'NA'
df[395]['Budget'] = 'NA'
df[402]['Budget'] = 'NA'

In [59]:
# how many movies have a budget value that is now a float?
len([x for x in df if type(x.get('Budget')) is float])

280

This makes sense because we manipulated 4 movies to have a value of 'NA' that did not have a budget value of float.

In [60]:
# How many movies have a Budget key?
len([x for x in df if x.get('Budget') is not None])

284

This makes sense because this is the total amount of movies that have a budget type of float, and includes the movies that have Budget as 'NA' that we manipulated.

In [61]:
# How many movies DO NOT have a budget key?
len([x for x in df if x.get('Budget') is None])

160

There are 284 movies that have a budget key and 160 that do not. This totals 444 movies that is the total amount in df. :)

Now let's look at cleanning up the box office field.

In [62]:
# How is the box office field formatted?
[x['Box office'] for x in df if x.get('Box office') is not None]

['$45.472',
 '$418 million',
 '$164 million',
 '$76.4–$83.3 million',
 '$960,000 (worldwide rentals)',
 '$1.3 million (est. united states/canada rentals, 1941)',
 '$267.4 million',
 '$1,135,000 (worldwide rentals)',
 '$799,000',
 '$3,355,000 (worldwide rentals)',
 '$3.275 million (worldwide rentals)',
 '$65 million',
 '$3,165,000 (worldwide rentals)',
 '$2,560,000 (worldwide rentals)',
 '$3.7 million (u.s. rental) $575,000 (foreign rental)',
 '$1,625,000 (worldwide rentals)',
 '$263.6 million',
 '$4,100,000 (worldwide rentals)',
 '$5.6 million (us, 1951)',
 '$2.1 million (us rentals)',
 '$87.4 million',
 '$1 million (us)',
 '$2.6 million (us)',
 '$1.75 million (us and canadian rentals)',
 '$28.2 million',
 '$2,150,000 (us)',
 '$187 million',
 '$2.1 million (us)',
 '$1.6 million (us)',
 '$1.7 million (us)',
 '$2.75 million (us)',
 '$1.75 million (us rentals)',
 '$6,250,000 (us/canada rentals)',
 '$1.8 million (est. us/ canada rentals)',
 '$2.5 million (est. us/ canada rentals)',
 '$51.6 million (united states/canada)',
 '$12.3 million (us and canada rentals)',
 ['[2]', '[3]'],
 '$1,700,000 (us/canada rentals)',
 '$3,100,000 (us/canada rentals)',
 '$3.75 million (us and canadian rentals)',
 '$2.3 million (us and canadian rentals)',
 '$40 million',
 '$303 million',
 '$25.4 million',
 '$25.1 million',
 '$4.6 million (u.s./canada rentals)',
 '$3.5 million',
 '$5 million (rentals)',
 '$21,745,500',
 '$22.1 million',
 '$2,550,000 (us/ canada)',
 '$3,000,000 (us/ canada)',
 '$4,350,000 (us/ canada rentals)',
 '$4.2 million (us/canada) (rentals)',
 '$22.2 million',
 'est. $1,600,000 (us/ canada)',
 '$4,000,000 (us/ canada)',
 '$2,250,000 (us/ canada)',
 'est. $3,500,000 (us/ canada)',
 '$103.1 million',
 '$1,275,000',
 '$3,500,000 (us/ canada rentals)',
 '$4,000,000 (us/canada rentals)',
 '$28,068,222',
 '$6.2 million (est. us/ canada rentals)',
 '$22,565,634',
 '$16,207,116',
 '$3,000,000 (us/ canada)',
 '$1,900,000 (us/ canada)',
 '$4,000,000 (us/ canada)',
 '$378 million',
 '$5 million (u.s./canada rentals)',
 '$21,540,050',
 '$2,250,000 (us/ canada)',
 '$4,150,000 (us/ canada rentals)',
 '$3.3 million  (us/ canada rentals)',
 '$51,264,000',
 '$1.3 million (us/ canada rentals)',
 '$5.5 million (us/ canada rentals)',
 '$18,607,492',
 '$4 million (rentals) (us/canada)',
 '$191 million',
 '$5.1 million (north america) (rentals)',
 '$17.9 million',
 '$4,610,000 (us/canada) (rentals)',
 '$6,100,000 (us/ canada rentals)',
 '$22,583,370',
 '$2 million',
 '$32 million',
 '$7 million (us/canada rentals)',
 ['[1]'],
 '$4 million (rentals) (us/canada)',
 '$10 million (us/canada rentals)',
 '$6.6 million (us/canada rentals)',
 '$20,000,000',
 '$36,853,000',
 '$5.5 million (north american rentals)',
 '$21,873,000',
 '$10.5 million (us and canada rentals)',
 '$36 million',
 '$169 million',
 '$29 million',
 '$36 –39.6 million',
 '$20,931,111',
 ['[1]'],
 '$2.9 million',
 '$5 million',
 '$18 million',
 '$11 million',
 '$60 million',
 '$16 million (usa)',
 '$14.1 million',
 '$63.5 million',
 '$8 million',
 'us$50 million',
 '$7.4 million',
 '$4,304,286 (us)',
 '$8.4 million',
 '$27.6 million',
 '$11.1 million (usa)',
 '$21.3 million',
 '$9.7 million (u.s. and canada only)',
 '$13 million',
 '$38.7 million',
 '$18,564,613',
 '$22.3 million',
 '$13,687,027',
 '>$121 million',
 '$222.7 million',
 '$8,153,677 (united states)',
 '$233 million',
 '$18.1 million',
 '$47.4 million',
 '$34.8 million',
 '$15.1 million',
 '$7.3 million',
 '$46.7 million (usa)',
 '$440.1 million',
 '$2.8 million',
 '$96 million',
 '$50.8 million',
 '$504.1 million',
 '$27.2 million',
 '$57 million',
 '$12.9 million',
 '$24.1 million',
 '$44.9 million',
 '$154.9 million',
 '$53.9 million',
 '$21 million',
 '$39 million',
 '$45.6 million',
 '$8,878,839 (us)',
 '$968.5 million',
 '$50.2 million',
 '$3,337,685',
 '$189.8 million',
 '$43.2 million',
 '$17.6 million',
 '$40,070,995',
 '$11 million',
 '$37.6 million',
 '$346.1 million',
 '$24,670,346',
 '$13.4 million (domestic)',
 '$17.7 million',
 '$373 million',
 '$23.9 million',
 '$34.3 million (north america)',
 '$32.7 million',
 '$37.7 million',
 '$325.3 million',
 '$26,491,793',
 '$22.9 million',
 '$320.7 million',
 '$18.3 million',
 '$59.9 million',
 '$252.7 million',
 '$174.4 million',
 '$27.8 million',
 '$15.4 million',
 '$178 million',
 '$28.9 million',
 '$4.4 million',
 '$304.3 million',
 '$92.1 million',
 '$12.2 million',
 '$363.3 million',
 '$50.6 million (us)',
 '$36.8 million',
 '$19.4 million',
 '$448.2 million',
 '$134.4 million',
 '$6.2 million (north america)',
 '$497.4 million',
 '$90.9 million',
 '$96.2 million',
 '$349.8 million',
 '$110.3 million',
 '$136.7 million',
 '$183.6 million',
 '$169.6 million',
 '$44.5 million',
 '$186.1 million',
 '$165.3 million',
 '$18.6 million',
 '$577.4 million',
 '$115 million',
 '$115.1 million',
 '$80.7 million',
 '$273.1 million',
 '$18 million',
 '$395.5 million',
 '$19.3 million',
 '$172.9 million',
 '$109.6 million',
 '$135.7 million',
 '$62.9 million',
 '$28.7 million',
 '$71.4 million',
 '$55.5 million',
 '$940.3 million',
 '$654.3 million',
 '$160.8 million',
 '$250.4 million',
 '$182.3 million',
 '$9,638,389',
 '$6.5 million',
 '$64.5 million',
 '$33.1 million',
 '$145.5 million',
 '$1,108,356',
 '$72.2 million',
 '$314,402',
 '$134.7 million',
 '$633 million',
 '$347.5 million',
 '$9 million',
 '$52.9 million',
 '$198.6 million',
 '$27.6 million',
 '$144.1 million',
 ['¥', '[3]'],
 '$86.4 million',
 '$61.7 million',
 '$15.4 million',
 '$314.4 million',
 '$745 million',
 '$42.9 million',
 '$11 million',
 '$120.5 million',
 '$87.1 million',
 '$102.3 million',
 '$462 million',
 '$1.066 billion',
 '$58.5 million',
 '$91.5 million',
 '$110.8 million',
 '$137.6 million',
 '$169.3 million',
 '$961 million',
 '$620.7 million',
 '$65.3 million',
 '$146.6 million',
 '$340.5 million',
 '$459.2 million',
 '$70.6 million',
 '$51.5 million',
 '$419.7 million',
 '$521.3 million',
 '$149.3 million',
 '$275,776',
 '$252.9 million',
 '$310 million',
 '$212.9 million',
 '$23.1 million',
 '$106.4 million',
 '$170  million',
 '$109 million',
 '$735.1 million',
 '$292.8 million',
 'us$ 203.2 million',
 '$11.3 million',
 '$325 million',
 '$96.8 million',
 '$270 million',
 '$1.025 billion',
 '$82.7 million',
 '$336.4 million',
 '$1.067 billion',
 '$215.3 million',
 '$75.5 million',
 '$60.3 million',
 '$592.4 million',
 '$55,513',
 '$400.1 million',
 '₹ 50 crore (us$7.0 million)',
 '$39.2 million',
 '$30.9 million',
 '$10.7 million',
 '$1.046 billion',
 '$562.1 million',
 '$50.1 million',
 '$165.2 million',
 '$146 million',
 '$284.1 million',
 '$34.8 million',
 '$540.4 million',
 '$56 million',
 '$81.5 million',
 '$471.2 million',
 '$493.3 million',
 '$743.6 million',
 '$260.5 million',
 '$239.3 million',
 '$1.280 billion',
 '$117.9 million',
 '$80.4 million',
 '$21.3 million',
 '$39.2 million',
 '$758.5 million',
 '$147 million',
 'est. ₹ 79.43 crore (us$11 million)',
 '$100.7 million',
 '$657.8 million',
 '$213.1 million',
 '$45.7 million',
 '$543 million',
 '$17.1 million',
 '$209 million',
 '$858 million',
 'est. ₹1.65 billion',
 '$332.2 million',
 '$52.1 million',
 '$1.024 billion',
 '$966.6 million',
 '$17 million',
 '$299.5 million',
 '$1.029 billion',
 '$195.2 million',
 '$143.7 million',
 '$10.4 million',
 '$690.8 million',
 ['[4]', '[5]', '[6]', '[7]', '[8]'],
 '$127.4 million',
 '$1.264 billion',
 '$25.1 million',
 '$794.9 million',
 '$383.9 million',
 '₹ 833.5 million',
 '$807.8 million',
 '$133.4 million',
 '$1.243 billion',
 '$197.7 million',
 '$174 million',
 '$529.3 million',
 '$349.5 million',
 '$353.3 million',
 '$7.7\n million',
 '$1.051 billion',
 '$1.073 billion',
 '$1.657 billion',
 '$491.7 million',
 '$1.450 billion',
 '$141.9 million',
 '$70 million',
 '$115.7 million']

In [63]:
# # Looks like we can work this similar to before.

# boxoffice_int_list = []
# could_not_convert = []
# for i,x in enumerate(df):
#     if x.get('Box office') is not None and type(x.get('Box office')) is str:
#         try:
#             boxoffice = float(x.get('Box office').split(' million', 1)[0].split('(worldwide rentals)',1)[0].strip('$').replace(',',"").split('–$',1)[0])
            
            
#             if boxoffice < 1000.0:
#                 boxoffice =boxoffice * (1000000)
            
#             boxoffice_int_list.append((boxoffice,x.get('Box office')))
# #           df[i]['Box office']=boxoffice
#             print(i,boxoffice)
        
#         except Exception as e:
#             could_not_convert.append({i:{'title':x.get('title'),'Box office':x.get('Box office')}})
#             print(e, i, x.get('title'), x.get('Box office'))
#             continue
    
            
#     elif x.get('Box office') is not None and type(x.get('Box office')) is list:
#         try:
#             boxoffice=float(x.get('Box office')[0].split(' million',1)[0].split('(worldwide rentals)',1)[0].strip('$').replace(',',"").split('–$',1)[0])
            
#             if boxoffice < 1000.0:
#                 boxoffice = boxoffice * (1000000)
            
#             boxoffice_int_list.append((boxoffice,x.get('Box office')))
# #             df[i]['Box office']=boxoffice
#             print(i,budget)
        
#         except Exception as e:
#             could_not_convert.append({i:{'title':x.get('title'),'Box office':x.get('Box office')}})
#             print(e, i, x.get('title'), x.get('Box office'))
#             continue

In [64]:
# boxoffice_int_list.sort()
# boxoffice_int_list

#### Try using regex compiler

In [65]:
box_office_values = [x.get('Box office') for i,x in enumerate(df) if type(x.get('Box office')) is str]
box_office_values

['$45.472',
 '$418 million',
 '$164 million',
 '$76.4–$83.3 million',
 '$960,000 (worldwide rentals)',
 '$1.3 million (est. united states/canada rentals, 1941)',
 '$267.4 million',
 '$1,135,000 (worldwide rentals)',
 '$799,000',
 '$3,355,000 (worldwide rentals)',
 '$3.275 million (worldwide rentals)',
 '$65 million',
 '$3,165,000 (worldwide rentals)',
 '$2,560,000 (worldwide rentals)',
 '$3.7 million (u.s. rental) $575,000 (foreign rental)',
 '$1,625,000 (worldwide rentals)',
 '$263.6 million',
 '$4,100,000 (worldwide rentals)',
 '$5.6 million (us, 1951)',
 '$2.1 million (us rentals)',
 '$87.4 million',
 '$1 million (us)',
 '$2.6 million (us)',
 '$1.75 million (us and canadian rentals)',
 '$28.2 million',
 '$2,150,000 (us)',
 '$187 million',
 '$2.1 million (us)',
 '$1.6 million (us)',
 '$1.7 million (us)',
 '$2.75 million (us)',
 '$1.75 million (us rentals)',
 '$6,250,000 (us/canada rentals)',
 '$1.8 million (est. us/ canada rentals)',
 '$2.5 million (est. us/ canada rentals)',
 '$51.6 million (united states/canada)',
 '$12.3 million (us and canada rentals)',
 '$1,700,000 (us/canada rentals)',
 '$3,100,000 (us/canada rentals)',
 '$3.75 million (us and canadian rentals)',
 '$2.3 million (us and canadian rentals)',
 '$40 million',
 '$303 million',
 '$25.4 million',
 '$25.1 million',
 '$4.6 million (u.s./canada rentals)',
 '$3.5 million',
 '$5 million (rentals)',
 '$21,745,500',
 '$22.1 million',
 '$2,550,000 (us/ canada)',
 '$3,000,000 (us/ canada)',
 '$4,350,000 (us/ canada rentals)',
 '$4.2 million (us/canada) (rentals)',
 '$22.2 million',
 'est. $1,600,000 (us/ canada)',
 '$4,000,000 (us/ canada)',
 '$2,250,000 (us/ canada)',
 'est. $3,500,000 (us/ canada)',
 '$103.1 million',
 '$1,275,000',
 '$3,500,000 (us/ canada rentals)',
 '$4,000,000 (us/canada rentals)',
 '$28,068,222',
 '$6.2 million (est. us/ canada rentals)',
 '$22,565,634',
 '$16,207,116',
 '$3,000,000 (us/ canada)',
 '$1,900,000 (us/ canada)',
 '$4,000,000 (us/ canada)',
 '$378 million',
 '$5 million (u.s./canada rentals)',
 '$21,540,050',
 '$2,250,000 (us/ canada)',
 '$4,150,000 (us/ canada rentals)',
 '$3.3 million  (us/ canada rentals)',
 '$51,264,000',
 '$1.3 million (us/ canada rentals)',
 '$5.5 million (us/ canada rentals)',
 '$18,607,492',
 '$4 million (rentals) (us/canada)',
 '$191 million',
 '$5.1 million (north america) (rentals)',
 '$17.9 million',
 '$4,610,000 (us/canada) (rentals)',
 '$6,100,000 (us/ canada rentals)',
 '$22,583,370',
 '$2 million',
 '$32 million',
 '$7 million (us/canada rentals)',
 '$4 million (rentals) (us/canada)',
 '$10 million (us/canada rentals)',
 '$6.6 million (us/canada rentals)',
 '$20,000,000',
 '$36,853,000',
 '$5.5 million (north american rentals)',
 '$21,873,000',
 '$10.5 million (us and canada rentals)',
 '$36 million',
 '$169 million',
 '$29 million',
 '$36 –39.6 million',
 '$20,931,111',
 '$2.9 million',
 '$5 million',
 '$18 million',
 '$11 million',
 '$60 million',
 '$16 million (usa)',
 '$14.1 million',
 '$63.5 million',
 '$8 million',
 'us$50 million',
 '$7.4 million',
 '$4,304,286 (us)',
 '$8.4 million',
 '$27.6 million',
 '$11.1 million (usa)',
 '$21.3 million',
 '$9.7 million (u.s. and canada only)',
 '$13 million',
 '$38.7 million',
 '$18,564,613',
 '$22.3 million',
 '$13,687,027',
 '>$121 million',
 '$222.7 million',
 '$8,153,677 (united states)',
 '$233 million',
 '$18.1 million',
 '$47.4 million',
 '$34.8 million',
 '$15.1 million',
 '$7.3 million',
 '$46.7 million (usa)',
 '$440.1 million',
 '$2.8 million',
 '$96 million',
 '$50.8 million',
 '$504.1 million',
 '$27.2 million',
 '$57 million',
 '$12.9 million',
 '$24.1 million',
 '$44.9 million',
 '$154.9 million',
 '$53.9 million',
 '$21 million',
 '$39 million',
 '$45.6 million',
 '$8,878,839 (us)',
 '$968.5 million',
 '$50.2 million',
 '$3,337,685',
 '$189.8 million',
 '$43.2 million',
 '$17.6 million',
 '$40,070,995',
 '$11 million',
 '$37.6 million',
 '$346.1 million',
 '$24,670,346',
 '$13.4 million (domestic)',
 '$17.7 million',
 '$373 million',
 '$23.9 million',
 '$34.3 million (north america)',
 '$32.7 million',
 '$37.7 million',
 '$325.3 million',
 '$26,491,793',
 '$22.9 million',
 '$320.7 million',
 '$18.3 million',
 '$59.9 million',
 '$252.7 million',
 '$174.4 million',
 '$27.8 million',
 '$15.4 million',
 '$178 million',
 '$28.9 million',
 '$4.4 million',
 '$304.3 million',
 '$92.1 million',
 '$12.2 million',
 '$363.3 million',
 '$50.6 million (us)',
 '$36.8 million',
 '$19.4 million',
 '$448.2 million',
 '$134.4 million',
 '$6.2 million (north america)',
 '$497.4 million',
 '$90.9 million',
 '$96.2 million',
 '$349.8 million',
 '$110.3 million',
 '$136.7 million',
 '$183.6 million',
 '$169.6 million',
 '$44.5 million',
 '$186.1 million',
 '$165.3 million',
 '$18.6 million',
 '$577.4 million',
 '$115 million',
 '$115.1 million',
 '$80.7 million',
 '$273.1 million',
 '$18 million',
 '$395.5 million',
 '$19.3 million',
 '$172.9 million',
 '$109.6 million',
 '$135.7 million',
 '$62.9 million',
 '$28.7 million',
 '$71.4 million',
 '$55.5 million',
 '$940.3 million',
 '$654.3 million',
 '$160.8 million',
 '$250.4 million',
 '$182.3 million',
 '$9,638,389',
 '$6.5 million',
 '$64.5 million',
 '$33.1 million',
 '$145.5 million',
 '$1,108,356',
 '$72.2 million',
 '$314,402',
 '$134.7 million',
 '$633 million',
 '$347.5 million',
 '$9 million',
 '$52.9 million',
 '$198.6 million',
 '$27.6 million',
 '$144.1 million',
 '$86.4 million',
 '$61.7 million',
 '$15.4 million',
 '$314.4 million',
 '$745 million',
 '$42.9 million',
 '$11 million',
 '$120.5 million',
 '$87.1 million',
 '$102.3 million',
 '$462 million',
 '$1.066 billion',
 '$58.5 million',
 '$91.5 million',
 '$110.8 million',
 '$137.6 million',
 '$169.3 million',
 '$961 million',
 '$620.7 million',
 '$65.3 million',
 '$146.6 million',
 '$340.5 million',
 '$459.2 million',
 '$70.6 million',
 '$51.5 million',
 '$419.7 million',
 '$521.3 million',
 '$149.3 million',
 '$275,776',
 '$252.9 million',
 '$310 million',
 '$212.9 million',
 '$23.1 million',
 '$106.4 million',
 '$170  million',
 '$109 million',
 '$735.1 million',
 '$292.8 million',
 'us$ 203.2 million',
 '$11.3 million',
 '$325 million',
 '$96.8 million',
 '$270 million',
 '$1.025 billion',
 '$82.7 million',
 '$336.4 million',
 '$1.067 billion',
 '$215.3 million',
 '$75.5 million',
 '$60.3 million',
 '$592.4 million',
 '$55,513',
 '$400.1 million',
 '₹ 50 crore (us$7.0 million)',
 '$39.2 million',
 '$30.9 million',
 '$10.7 million',
 '$1.046 billion',
 '$562.1 million',
 '$50.1 million',
 '$165.2 million',
 '$146 million',
 '$284.1 million',
 '$34.8 million',
 '$540.4 million',
 '$56 million',
 '$81.5 million',
 '$471.2 million',
 '$493.3 million',
 '$743.6 million',
 '$260.5 million',
 '$239.3 million',
 '$1.280 billion',
 '$117.9 million',
 '$80.4 million',
 '$21.3 million',
 '$39.2 million',
 '$758.5 million',
 '$147 million',
 'est. ₹ 79.43 crore (us$11 million)',
 '$100.7 million',
 '$657.8 million',
 '$213.1 million',
 '$45.7 million',
 '$543 million',
 '$17.1 million',
 '$209 million',
 '$858 million',
 'est. ₹1.65 billion',
 '$332.2 million',
 '$52.1 million',
 '$1.024 billion',
 '$966.6 million',
 '$17 million',
 '$299.5 million',
 '$1.029 billion',
 '$195.2 million',
 '$143.7 million',
 '$10.4 million',
 '$690.8 million',
 '$127.4 million',
 '$1.264 billion',
 '$25.1 million',
 '$794.9 million',
 '$383.9 million',
 '₹ 833.5 million',
 '$807.8 million',
 '$133.4 million',
 '$1.243 billion',
 '$197.7 million',
 '$174 million',
 '$529.3 million',
 '$349.5 million',
 '$353.3 million',
 '$7.7\n million',
 '$1.051 billion',
 '$1.073 billion',
 '$1.657 billion',
 '$491.7 million',
 '$1.450 billion',
 '$141.9 million',
 '$70 million',
 '$115.7 million']

In [66]:
amount_pattern=re.compile('.*?\$.*?(?P<amount>[0-9,.]+)')
amount_pattern

re.compile(r'.*?\$.*?(?P<amount>[0-9,.]+)', re.UNICODE)

In [67]:
place_holder_pattern=re.compile('.*?(?P<mb>million|billion)')
place_holder_pattern

re.compile(r'.*?(?P<mb>million|billion)', re.UNICODE)

In [68]:
bov=box_office_values[1]
bov

'$418 million'

In [69]:
place_holder_pattern.search(bov).groups()

('million',)

In [70]:
[(x,{'pcv': place_holder_pattern.search(x).groups()[0]}) for x in box_office_values if place_holder_pattern.search(x) is not None]

[('$418 million', {'pcv': 'million'}),
 ('$164 million', {'pcv': 'million'}),
 ('$76.4–$83.3 million', {'pcv': 'million'}),
 ('$1.3 million (est. united states/canada rentals, 1941)',
  {'pcv': 'million'}),
 ('$267.4 million', {'pcv': 'million'}),
 ('$3.275 million (worldwide rentals)', {'pcv': 'million'}),
 ('$65 million', {'pcv': 'million'}),
 ('$3.7 million (u.s. rental) $575,000 (foreign rental)', {'pcv': 'million'}),
 ('$263.6 million', {'pcv': 'million'}),
 ('$5.6 million (us, 1951)', {'pcv': 'million'}),
 ('$2.1 million (us rentals)', {'pcv': 'million'}),
 ('$87.4 million', {'pcv': 'million'}),
 ('$1 million (us)', {'pcv': 'million'}),
 ('$2.6 million (us)', {'pcv': 'million'}),
 ('$1.75 million (us and canadian rentals)', {'pcv': 'million'}),
 ('$28.2 million', {'pcv': 'million'}),
 ('$187 million', {'pcv': 'million'}),
 ('$2.1 million (us)', {'pcv': 'million'}),
 ('$1.6 million (us)', {'pcv': 'million'}),
 ('$1.7 million (us)', {'pcv': 'million'}),
 ('$2.75 million (us)', {'pcv': 'million'}),
 ('$1.75 million (us rentals)', {'pcv': 'million'}),
 ('$1.8 million (est. us/ canada rentals)', {'pcv': 'million'}),
 ('$2.5 million (est. us/ canada rentals)', {'pcv': 'million'}),
 ('$51.6 million (united states/canada)', {'pcv': 'million'}),
 ('$12.3 million (us and canada rentals)', {'pcv': 'million'}),
 ('$3.75 million (us and canadian rentals)', {'pcv': 'million'}),
 ('$2.3 million (us and canadian rentals)', {'pcv': 'million'}),
 ('$40 million', {'pcv': 'million'}),
 ('$303 million', {'pcv': 'million'}),
 ('$25.4 million', {'pcv': 'million'}),
 ('$25.1 million', {'pcv': 'million'}),
 ('$4.6 million (u.s./canada rentals)', {'pcv': 'million'}),
 ('$3.5 million', {'pcv': 'million'}),
 ('$5 million (rentals)', {'pcv': 'million'}),
 ('$22.1 million', {'pcv': 'million'}),
 ('$4.2 million (us/canada) (rentals)', {'pcv': 'million'}),
 ('$22.2 million', {'pcv': 'million'}),
 ('$103.1 million', {'pcv': 'million'}),
 ('$6.2 million (est. us/ canada rentals)', {'pcv': 'million'}),
 ('$378 million', {'pcv': 'million'}),
 ('$5 million (u.s./canada rentals)', {'pcv': 'million'}),
 ('$3.3 million  (us/ canada rentals)', {'pcv': 'million'}),
 ('$1.3 million (us/ canada rentals)', {'pcv': 'million'}),
 ('$5.5 million (us/ canada rentals)', {'pcv': 'million'}),
 ('$4 million (rentals) (us/canada)', {'pcv': 'million'}),
 ('$191 million', {'pcv': 'million'}),
 ('$5.1 million (north america) (rentals)', {'pcv': 'million'}),
 ('$17.9 million', {'pcv': 'million'}),
 ('$2 million', {'pcv': 'million'}),
 ('$32 million', {'pcv': 'million'}),
 ('$7 million (us/canada rentals)', {'pcv': 'million'}),
 ('$4 million (rentals) (us/canada)', {'pcv': 'million'}),
 ('$10 million (us/canada rentals)', {'pcv': 'million'}),
 ('$6.6 million (us/canada rentals)', {'pcv': 'million'}),
 ('$5.5 million (north american rentals)', {'pcv': 'million'}),
 ('$10.5 million (us and canada rentals)', {'pcv': 'million'}),
 ('$36 million', {'pcv': 'million'}),
 ('$169 million', {'pcv': 'million'}),
 ('$29 million', {'pcv': 'million'}),
 ('$36 –39.6 million', {'pcv': 'million'}),
 ('$2.9 million', {'pcv': 'million'}),
 ('$5 million', {'pcv': 'million'}),
 ('$18 million', {'pcv': 'million'}),
 ('$11 million', {'pcv': 'million'}),
 ('$60 million', {'pcv': 'million'}),
 ('$16 million (usa)', {'pcv': 'million'}),
 ('$14.1 million', {'pcv': 'million'}),
 ('$63.5 million', {'pcv': 'million'}),
 ('$8 million', {'pcv': 'million'}),
 ('us$50 million', {'pcv': 'million'}),
 ('$7.4 million', {'pcv': 'million'}),
 ('$8.4 million', {'pcv': 'million'}),
 ('$27.6 million', {'pcv': 'million'}),
 ('$11.1 million (usa)', {'pcv': 'million'}),
 ('$21.3 million', {'pcv': 'million'}),
 ('$9.7 million (u.s. and canada only)', {'pcv': 'million'}),
 ('$13 million', {'pcv': 'million'}),
 ('$38.7 million', {'pcv': 'million'}),
 ('$22.3 million', {'pcv': 'million'}),
 ('>$121 million', {'pcv': 'million'}),
 ('$222.7 million', {'pcv': 'million'}),
 ('$233 million', {'pcv': 'million'}),
 ('$18.1 million', {'pcv': 'million'}),
 ('$47.4 million', {'pcv': 'million'}),
 ('$34.8 million', {'pcv': 'million'}),
 ('$15.1 million', {'pcv': 'million'}),
 ('$7.3 million', {'pcv': 'million'}),
 ('$46.7 million (usa)', {'pcv': 'million'}),
 ('$440.1 million', {'pcv': 'million'}),
 ('$2.8 million', {'pcv': 'million'}),
 ('$96 million', {'pcv': 'million'}),
 ('$50.8 million', {'pcv': 'million'}),
 ('$504.1 million', {'pcv': 'million'}),
 ('$27.2 million', {'pcv': 'million'}),
 ('$57 million', {'pcv': 'million'}),
 ('$12.9 million', {'pcv': 'million'}),
 ('$24.1 million', {'pcv': 'million'}),
 ('$44.9 million', {'pcv': 'million'}),
 ('$154.9 million', {'pcv': 'million'}),
 ('$53.9 million', {'pcv': 'million'}),
 ('$21 million', {'pcv': 'million'}),
 ('$39 million', {'pcv': 'million'}),
 ('$45.6 million', {'pcv': 'million'}),
 ('$968.5 million', {'pcv': 'million'}),
 ('$50.2 million', {'pcv': 'million'}),
 ('$189.8 million', {'pcv': 'million'}),
 ('$43.2 million', {'pcv': 'million'}),
 ('$17.6 million', {'pcv': 'million'}),
 ('$11 million', {'pcv': 'million'}),
 ('$37.6 million', {'pcv': 'million'}),
 ('$346.1 million', {'pcv': 'million'}),
 ('$13.4 million (domestic)', {'pcv': 'million'}),
 ('$17.7 million', {'pcv': 'million'}),
 ('$373 million', {'pcv': 'million'}),
 ('$23.9 million', {'pcv': 'million'}),
 ('$34.3 million (north america)', {'pcv': 'million'}),
 ('$32.7 million', {'pcv': 'million'}),
 ('$37.7 million', {'pcv': 'million'}),
 ('$325.3 million', {'pcv': 'million'}),
 ('$22.9 million', {'pcv': 'million'}),
 ('$320.7 million', {'pcv': 'million'}),
 ('$18.3 million', {'pcv': 'million'}),
 ('$59.9 million', {'pcv': 'million'}),
 ('$252.7 million', {'pcv': 'million'}),
 ('$174.4 million', {'pcv': 'million'}),
 ('$27.8 million', {'pcv': 'million'}),
 ('$15.4 million', {'pcv': 'million'}),
 ('$178 million', {'pcv': 'million'}),
 ('$28.9 million', {'pcv': 'million'}),
 ('$4.4 million', {'pcv': 'million'}),
 ('$304.3 million', {'pcv': 'million'}),
 ('$92.1 million', {'pcv': 'million'}),
 ('$12.2 million', {'pcv': 'million'}),
 ('$363.3 million', {'pcv': 'million'}),
 ('$50.6 million (us)', {'pcv': 'million'}),
 ('$36.8 million', {'pcv': 'million'}),
 ('$19.4 million', {'pcv': 'million'}),
 ('$448.2 million', {'pcv': 'million'}),
 ('$134.4 million', {'pcv': 'million'}),
 ('$6.2 million (north america)', {'pcv': 'million'}),
 ('$497.4 million', {'pcv': 'million'}),
 ('$90.9 million', {'pcv': 'million'}),
 ('$96.2 million', {'pcv': 'million'}),
 ('$349.8 million', {'pcv': 'million'}),
 ('$110.3 million', {'pcv': 'million'}),
 ('$136.7 million', {'pcv': 'million'}),
 ('$183.6 million', {'pcv': 'million'}),
 ('$169.6 million', {'pcv': 'million'}),
 ('$44.5 million', {'pcv': 'million'}),
 ('$186.1 million', {'pcv': 'million'}),
 ('$165.3 million', {'pcv': 'million'}),
 ('$18.6 million', {'pcv': 'million'}),
 ('$577.4 million', {'pcv': 'million'}),
 ('$115 million', {'pcv': 'million'}),
 ('$115.1 million', {'pcv': 'million'}),
 ('$80.7 million', {'pcv': 'million'}),
 ('$273.1 million', {'pcv': 'million'}),
 ('$18 million', {'pcv': 'million'}),
 ('$395.5 million', {'pcv': 'million'}),
 ('$19.3 million', {'pcv': 'million'}),
 ('$172.9 million', {'pcv': 'million'}),
 ('$109.6 million', {'pcv': 'million'}),
 ('$135.7 million', {'pcv': 'million'}),
 ('$62.9 million', {'pcv': 'million'}),
 ('$28.7 million', {'pcv': 'million'}),
 ('$71.4 million', {'pcv': 'million'}),
 ('$55.5 million', {'pcv': 'million'}),
 ('$940.3 million', {'pcv': 'million'}),
 ('$654.3 million', {'pcv': 'million'}),
 ('$160.8 million', {'pcv': 'million'}),
 ('$250.4 million', {'pcv': 'million'}),
 ('$182.3 million', {'pcv': 'million'}),
 ('$6.5 million', {'pcv': 'million'}),
 ('$64.5 million', {'pcv': 'million'}),
 ('$33.1 million', {'pcv': 'million'}),
 ('$145.5 million', {'pcv': 'million'}),
 ('$72.2 million', {'pcv': 'million'}),
 ('$134.7 million', {'pcv': 'million'}),
 ('$633 million', {'pcv': 'million'}),
 ('$347.5 million', {'pcv': 'million'}),
 ('$9 million', {'pcv': 'million'}),
 ('$52.9 million', {'pcv': 'million'}),
 ('$198.6 million', {'pcv': 'million'}),
 ('$27.6 million', {'pcv': 'million'}),
 ('$144.1 million', {'pcv': 'million'}),
 ('$86.4 million', {'pcv': 'million'}),
 ('$61.7 million', {'pcv': 'million'}),
 ('$15.4 million', {'pcv': 'million'}),
 ('$314.4 million', {'pcv': 'million'}),
 ('$745 million', {'pcv': 'million'}),
 ('$42.9 million', {'pcv': 'million'}),
 ('$11 million', {'pcv': 'million'}),
 ('$120.5 million', {'pcv': 'million'}),
 ('$87.1 million', {'pcv': 'million'}),
 ('$102.3 million', {'pcv': 'million'}),
 ('$462 million', {'pcv': 'million'}),
 ('$1.066 billion', {'pcv': 'billion'}),
 ('$58.5 million', {'pcv': 'million'}),
 ('$91.5 million', {'pcv': 'million'}),
 ('$110.8 million', {'pcv': 'million'}),
 ('$137.6 million', {'pcv': 'million'}),
 ('$169.3 million', {'pcv': 'million'}),
 ('$961 million', {'pcv': 'million'}),
 ('$620.7 million', {'pcv': 'million'}),
 ('$65.3 million', {'pcv': 'million'}),
 ('$146.6 million', {'pcv': 'million'}),
 ('$340.5 million', {'pcv': 'million'}),
 ('$459.2 million', {'pcv': 'million'}),
 ('$70.6 million', {'pcv': 'million'}),
 ('$51.5 million', {'pcv': 'million'}),
 ('$419.7 million', {'pcv': 'million'}),
 ('$521.3 million', {'pcv': 'million'}),
 ('$149.3 million', {'pcv': 'million'}),
 ('$252.9 million', {'pcv': 'million'}),
 ('$310 million', {'pcv': 'million'}),
 ('$212.9 million', {'pcv': 'million'}),
 ('$23.1 million', {'pcv': 'million'}),
 ('$106.4 million', {'pcv': 'million'}),
 ('$170  million', {'pcv': 'million'}),
 ('$109 million', {'pcv': 'million'}),
 ('$735.1 million', {'pcv': 'million'}),
 ('$292.8 million', {'pcv': 'million'}),
 ('us$ 203.2 million', {'pcv': 'million'}),
 ('$11.3 million', {'pcv': 'million'}),
 ('$325 million', {'pcv': 'million'}),
 ('$96.8 million', {'pcv': 'million'}),
 ('$270 million', {'pcv': 'million'}),
 ('$1.025 billion', {'pcv': 'billion'}),
 ('$82.7 million', {'pcv': 'million'}),
 ('$336.4 million', {'pcv': 'million'}),
 ('$1.067 billion', {'pcv': 'billion'}),
 ('$215.3 million', {'pcv': 'million'}),
 ('$75.5 million', {'pcv': 'million'}),
 ('$60.3 million', {'pcv': 'million'}),
 ('$592.4 million', {'pcv': 'million'}),
 ('$400.1 million', {'pcv': 'million'}),
 ('₹ 50 crore (us$7.0 million)', {'pcv': 'million'}),
 ('$39.2 million', {'pcv': 'million'}),
 ('$30.9 million', {'pcv': 'million'}),
 ('$10.7 million', {'pcv': 'million'}),
 ('$1.046 billion', {'pcv': 'billion'}),
 ('$562.1 million', {'pcv': 'million'}),
 ('$50.1 million', {'pcv': 'million'}),
 ('$165.2 million', {'pcv': 'million'}),
 ('$146 million', {'pcv': 'million'}),
 ('$284.1 million', {'pcv': 'million'}),
 ('$34.8 million', {'pcv': 'million'}),
 ('$540.4 million', {'pcv': 'million'}),
 ('$56 million', {'pcv': 'million'}),
 ('$81.5 million', {'pcv': 'million'}),
 ('$471.2 million', {'pcv': 'million'}),
 ('$493.3 million', {'pcv': 'million'}),
 ('$743.6 million', {'pcv': 'million'}),
 ('$260.5 million', {'pcv': 'million'}),
 ('$239.3 million', {'pcv': 'million'}),
 ('$1.280 billion', {'pcv': 'billion'}),
 ('$117.9 million', {'pcv': 'million'}),
 ('$80.4 million', {'pcv': 'million'}),
 ('$21.3 million', {'pcv': 'million'}),
 ('$39.2 million', {'pcv': 'million'}),
 ('$758.5 million', {'pcv': 'million'}),
 ('$147 million', {'pcv': 'million'}),
 ('est. ₹ 79.43 crore (us$11 million)', {'pcv': 'million'}),
 ('$100.7 million', {'pcv': 'million'}),
 ('$657.8 million', {'pcv': 'million'}),
 ('$213.1 million', {'pcv': 'million'}),
 ('$45.7 million', {'pcv': 'million'}),
 ('$543 million', {'pcv': 'million'}),
 ('$17.1 million', {'pcv': 'million'}),
 ('$209 million', {'pcv': 'million'}),
 ('$858 million', {'pcv': 'million'}),
 ('est. ₹1.65 billion', {'pcv': 'billion'}),
 ('$332.2 million', {'pcv': 'million'}),
 ('$52.1 million', {'pcv': 'million'}),
 ('$1.024 billion', {'pcv': 'billion'}),
 ('$966.6 million', {'pcv': 'million'}),
 ('$17 million', {'pcv': 'million'}),
 ('$299.5 million', {'pcv': 'million'}),
 ('$1.029 billion', {'pcv': 'billion'}),
 ('$195.2 million', {'pcv': 'million'}),
 ('$143.7 million', {'pcv': 'million'}),
 ('$10.4 million', {'pcv': 'million'}),
 ('$690.8 million', {'pcv': 'million'}),
 ('$127.4 million', {'pcv': 'million'}),
 ('$1.264 billion', {'pcv': 'billion'}),
 ('$25.1 million', {'pcv': 'million'}),
 ('$794.9 million', {'pcv': 'million'}),
 ('$383.9 million', {'pcv': 'million'}),
 ('₹ 833.5 million', {'pcv': 'million'}),
 ('$807.8 million', {'pcv': 'million'}),
 ('$133.4 million', {'pcv': 'million'}),
 ('$1.243 billion', {'pcv': 'billion'}),
 ('$197.7 million', {'pcv': 'million'}),
 ('$174 million', {'pcv': 'million'}),
 ('$529.3 million', {'pcv': 'million'}),
 ('$349.5 million', {'pcv': 'million'}),
 ('$353.3 million', {'pcv': 'million'}),
 ('$7.7\n million', {'pcv': 'million'}),
 ('$1.051 billion', {'pcv': 'billion'}),
 ('$1.073 billion', {'pcv': 'billion'}),
 ('$1.657 billion', {'pcv': 'billion'}),
 ('$491.7 million', {'pcv': 'million'}),
 ('$1.450 billion', {'pcv': 'billion'}),
 ('$141.9 million', {'pcv': 'million'}),
 ('$70 million', {'pcv': 'million'}),
 ('$115.7 million', {'pcv': 'million'})]

In [71]:
amount_pattern.match(box_office_values[3]).groups()

('76.4',)

In [72]:
place_holder_pattern.match(box_office_values[1]).groups()

('million',)

In [73]:
[x if place_holder_pattern.search(x) is None else (i, place_holder_pattern.search(x).groupdict(),x) for i,x in enumerate(box_office_values)]

['$45.472',
 (1, {'mb': 'million'}, '$418 million'),
 (2, {'mb': 'million'}, '$164 million'),
 (3, {'mb': 'million'}, '$76.4–$83.3 million'),
 '$960,000 (worldwide rentals)',
 (5,
  {'mb': 'million'},
  '$1.3 million (est. united states/canada rentals, 1941)'),
 (6, {'mb': 'million'}, '$267.4 million'),
 '$1,135,000 (worldwide rentals)',
 '$799,000',
 '$3,355,000 (worldwide rentals)',
 (10, {'mb': 'million'}, '$3.275 million (worldwide rentals)'),
 (11, {'mb': 'million'}, '$65 million'),
 '$3,165,000 (worldwide rentals)',
 '$2,560,000 (worldwide rentals)',
 (14,
  {'mb': 'million'},
  '$3.7 million (u.s. rental) $575,000 (foreign rental)'),
 '$1,625,000 (worldwide rentals)',
 (16, {'mb': 'million'}, '$263.6 million'),
 '$4,100,000 (worldwide rentals)',
 (18, {'mb': 'million'}, '$5.6 million (us, 1951)'),
 (19, {'mb': 'million'}, '$2.1 million (us rentals)'),
 (20, {'mb': 'million'}, '$87.4 million'),
 (21, {'mb': 'million'}, '$1 million (us)'),
 (22, {'mb': 'million'}, '$2.6 million (us)'),
 (23, {'mb': 'million'}, '$1.75 million (us and canadian rentals)'),
 (24, {'mb': 'million'}, '$28.2 million'),
 '$2,150,000 (us)',
 (26, {'mb': 'million'}, '$187 million'),
 (27, {'mb': 'million'}, '$2.1 million (us)'),
 (28, {'mb': 'million'}, '$1.6 million (us)'),
 (29, {'mb': 'million'}, '$1.7 million (us)'),
 (30, {'mb': 'million'}, '$2.75 million (us)'),
 (31, {'mb': 'million'}, '$1.75 million (us rentals)'),
 '$6,250,000 (us/canada rentals)',
 (33, {'mb': 'million'}, '$1.8 million (est. us/ canada rentals)'),
 (34, {'mb': 'million'}, '$2.5 million (est. us/ canada rentals)'),
 (35, {'mb': 'million'}, '$51.6 million (united states/canada)'),
 (36, {'mb': 'million'}, '$12.3 million (us and canada rentals)'),
 '$1,700,000 (us/canada rentals)',
 '$3,100,000 (us/canada rentals)',
 (39, {'mb': 'million'}, '$3.75 million (us and canadian rentals)'),
 (40, {'mb': 'million'}, '$2.3 million (us and canadian rentals)'),
 (41, {'mb': 'million'}, '$40 million'),
 (42, {'mb': 'million'}, '$303 million'),
 (43, {'mb': 'million'}, '$25.4 million'),
 (44, {'mb': 'million'}, '$25.1 million'),
 (45, {'mb': 'million'}, '$4.6 million (u.s./canada rentals)'),
 (46, {'mb': 'million'}, '$3.5 million'),
 (47, {'mb': 'million'}, '$5 million (rentals)'),
 '$21,745,500',
 (49, {'mb': 'million'}, '$22.1 million'),
 '$2,550,000 (us/ canada)',
 '$3,000,000 (us/ canada)',
 '$4,350,000 (us/ canada rentals)',
 (53, {'mb': 'million'}, '$4.2 million (us/canada) (rentals)'),
 (54, {'mb': 'million'}, '$22.2 million'),
 'est. $1,600,000 (us/ canada)',
 '$4,000,000 (us/ canada)',
 '$2,250,000 (us/ canada)',
 'est. $3,500,000 (us/ canada)',
 (59, {'mb': 'million'}, '$103.1 million'),
 '$1,275,000',
 '$3,500,000 (us/ canada rentals)',
 '$4,000,000 (us/canada rentals)',
 '$28,068,222',
 (64, {'mb': 'million'}, '$6.2 million (est. us/ canada rentals)'),
 '$22,565,634',
 '$16,207,116',
 '$3,000,000 (us/ canada)',
 '$1,900,000 (us/ canada)',
 '$4,000,000 (us/ canada)',
 (70, {'mb': 'million'}, '$378 million'),
 (71, {'mb': 'million'}, '$5 million (u.s./canada rentals)'),
 '$21,540,050',
 '$2,250,000 (us/ canada)',
 '$4,150,000 (us/ canada rentals)',
 (75, {'mb': 'million'}, '$3.3 million  (us/ canada rentals)'),
 '$51,264,000',
 (77, {'mb': 'million'}, '$1.3 million (us/ canada rentals)'),
 (78, {'mb': 'million'}, '$5.5 million (us/ canada rentals)'),
 '$18,607,492',
 (80, {'mb': 'million'}, '$4 million (rentals) (us/canada)'),
 (81, {'mb': 'million'}, '$191 million'),
 (82, {'mb': 'million'}, '$5.1 million (north america) (rentals)'),
 (83, {'mb': 'million'}, '$17.9 million'),
 '$4,610,000 (us/canada) (rentals)',
 '$6,100,000 (us/ canada rentals)',
 '$22,583,370',
 (87, {'mb': 'million'}, '$2 million'),
 (88, {'mb': 'million'}, '$32 million'),
 (89, {'mb': 'million'}, '$7 million (us/canada rentals)'),
 (90, {'mb': 'million'}, '$4 million (rentals) (us/canada)'),
 (91, {'mb': 'million'}, '$10 million (us/canada rentals)'),
 (92, {'mb': 'million'}, '$6.6 million (us/canada rentals)'),
 '$20,000,000',
 '$36,853,000',
 (95, {'mb': 'million'}, '$5.5 million (north american rentals)'),
 '$21,873,000',
 (97, {'mb': 'million'}, '$10.5 million (us and canada rentals)'),
 (98, {'mb': 'million'}, '$36 million'),
 (99, {'mb': 'million'}, '$169 million'),
 (100, {'mb': 'million'}, '$29 million'),
 (101, {'mb': 'million'}, '$36 –39.6 million'),
 '$20,931,111',
 (103, {'mb': 'million'}, '$2.9 million'),
 (104, {'mb': 'million'}, '$5 million'),
 (105, {'mb': 'million'}, '$18 million'),
 (106, {'mb': 'million'}, '$11 million'),
 (107, {'mb': 'million'}, '$60 million'),
 (108, {'mb': 'million'}, '$16 million (usa)'),
 (109, {'mb': 'million'}, '$14.1 million'),
 (110, {'mb': 'million'}, '$63.5 million'),
 (111, {'mb': 'million'}, '$8 million'),
 (112, {'mb': 'million'}, 'us$50 million'),
 (113, {'mb': 'million'}, '$7.4 million'),
 '$4,304,286 (us)',
 (115, {'mb': 'million'}, '$8.4 million'),
 (116, {'mb': 'million'}, '$27.6 million'),
 (117, {'mb': 'million'}, '$11.1 million (usa)'),
 (118, {'mb': 'million'}, '$21.3 million'),
 (119, {'mb': 'million'}, '$9.7 million (u.s. and canada only)'),
 (120, {'mb': 'million'}, '$13 million'),
 (121, {'mb': 'million'}, '$38.7 million'),
 '$18,564,613',
 (123, {'mb': 'million'}, '$22.3 million'),
 '$13,687,027',
 (125, {'mb': 'million'}, '>$121 million'),
 (126, {'mb': 'million'}, '$222.7 million'),
 '$8,153,677 (united states)',
 (128, {'mb': 'million'}, '$233 million'),
 (129, {'mb': 'million'}, '$18.1 million'),
 (130, {'mb': 'million'}, '$47.4 million'),
 (131, {'mb': 'million'}, '$34.8 million'),
 (132, {'mb': 'million'}, '$15.1 million'),
 (133, {'mb': 'million'}, '$7.3 million'),
 (134, {'mb': 'million'}, '$46.7 million (usa)'),
 (135, {'mb': 'million'}, '$440.1 million'),
 (136, {'mb': 'million'}, '$2.8 million'),
 (137, {'mb': 'million'}, '$96 million'),
 (138, {'mb': 'million'}, '$50.8 million'),
 (139, {'mb': 'million'}, '$504.1 million'),
 (140, {'mb': 'million'}, '$27.2 million'),
 (141, {'mb': 'million'}, '$57 million'),
 (142, {'mb': 'million'}, '$12.9 million'),
 (143, {'mb': 'million'}, '$24.1 million'),
 (144, {'mb': 'million'}, '$44.9 million'),
 (145, {'mb': 'million'}, '$154.9 million'),
 (146, {'mb': 'million'}, '$53.9 million'),
 (147, {'mb': 'million'}, '$21 million'),
 (148, {'mb': 'million'}, '$39 million'),
 (149, {'mb': 'million'}, '$45.6 million'),
 '$8,878,839 (us)',
 (151, {'mb': 'million'}, '$968.5 million'),
 (152, {'mb': 'million'}, '$50.2 million'),
 '$3,337,685',
 (154, {'mb': 'million'}, '$189.8 million'),
 (155, {'mb': 'million'}, '$43.2 million'),
 (156, {'mb': 'million'}, '$17.6 million'),
 '$40,070,995',
 (158, {'mb': 'million'}, '$11 million'),
 (159, {'mb': 'million'}, '$37.6 million'),
 (160, {'mb': 'million'}, '$346.1 million'),
 '$24,670,346',
 (162, {'mb': 'million'}, '$13.4 million (domestic)'),
 (163, {'mb': 'million'}, '$17.7 million'),
 (164, {'mb': 'million'}, '$373 million'),
 (165, {'mb': 'million'}, '$23.9 million'),
 (166, {'mb': 'million'}, '$34.3 million (north america)'),
 (167, {'mb': 'million'}, '$32.7 million'),
 (168, {'mb': 'million'}, '$37.7 million'),
 (169, {'mb': 'million'}, '$325.3 million'),
 '$26,491,793',
 (171, {'mb': 'million'}, '$22.9 million'),
 (172, {'mb': 'million'}, '$320.7 million'),
 (173, {'mb': 'million'}, '$18.3 million'),
 (174, {'mb': 'million'}, '$59.9 million'),
 (175, {'mb': 'million'}, '$252.7 million'),
 (176, {'mb': 'million'}, '$174.4 million'),
 (177, {'mb': 'million'}, '$27.8 million'),
 (178, {'mb': 'million'}, '$15.4 million'),
 (179, {'mb': 'million'}, '$178 million'),
 (180, {'mb': 'million'}, '$28.9 million'),
 (181, {'mb': 'million'}, '$4.4 million'),
 (182, {'mb': 'million'}, '$304.3 million'),
 (183, {'mb': 'million'}, '$92.1 million'),
 (184, {'mb': 'million'}, '$12.2 million'),
 (185, {'mb': 'million'}, '$363.3 million'),
 (186, {'mb': 'million'}, '$50.6 million (us)'),
 (187, {'mb': 'million'}, '$36.8 million'),
 (188, {'mb': 'million'}, '$19.4 million'),
 (189, {'mb': 'million'}, '$448.2 million'),
 (190, {'mb': 'million'}, '$134.4 million'),
 (191, {'mb': 'million'}, '$6.2 million (north america)'),
 (192, {'mb': 'million'}, '$497.4 million'),
 (193, {'mb': 'million'}, '$90.9 million'),
 (194, {'mb': 'million'}, '$96.2 million'),
 (195, {'mb': 'million'}, '$349.8 million'),
 (196, {'mb': 'million'}, '$110.3 million'),
 (197, {'mb': 'million'}, '$136.7 million'),
 (198, {'mb': 'million'}, '$183.6 million'),
 (199, {'mb': 'million'}, '$169.6 million'),
 (200, {'mb': 'million'}, '$44.5 million'),
 (201, {'mb': 'million'}, '$186.1 million'),
 (202, {'mb': 'million'}, '$165.3 million'),
 (203, {'mb': 'million'}, '$18.6 million'),
 (204, {'mb': 'million'}, '$577.4 million'),
 (205, {'mb': 'million'}, '$115 million'),
 (206, {'mb': 'million'}, '$115.1 million'),
 (207, {'mb': 'million'}, '$80.7 million'),
 (208, {'mb': 'million'}, '$273.1 million'),
 (209, {'mb': 'million'}, '$18 million'),
 (210, {'mb': 'million'}, '$395.5 million'),
 (211, {'mb': 'million'}, '$19.3 million'),
 (212, {'mb': 'million'}, '$172.9 million'),
 (213, {'mb': 'million'}, '$109.6 million'),
 (214, {'mb': 'million'}, '$135.7 million'),
 (215, {'mb': 'million'}, '$62.9 million'),
 (216, {'mb': 'million'}, '$28.7 million'),
 (217, {'mb': 'million'}, '$71.4 million'),
 (218, {'mb': 'million'}, '$55.5 million'),
 (219, {'mb': 'million'}, '$940.3 million'),
 (220, {'mb': 'million'}, '$654.3 million'),
 (221, {'mb': 'million'}, '$160.8 million'),
 (222, {'mb': 'million'}, '$250.4 million'),
 (223, {'mb': 'million'}, '$182.3 million'),
 '$9,638,389',
 (225, {'mb': 'million'}, '$6.5 million'),
 (226, {'mb': 'million'}, '$64.5 million'),
 (227, {'mb': 'million'}, '$33.1 million'),
 (228, {'mb': 'million'}, '$145.5 million'),
 '$1,108,356',
 (230, {'mb': 'million'}, '$72.2 million'),
 '$314,402',
 (232, {'mb': 'million'}, '$134.7 million'),
 (233, {'mb': 'million'}, '$633 million'),
 (234, {'mb': 'million'}, '$347.5 million'),
 (235, {'mb': 'million'}, '$9 million'),
 (236, {'mb': 'million'}, '$52.9 million'),
 (237, {'mb': 'million'}, '$198.6 million'),
 (238, {'mb': 'million'}, '$27.6 million'),
 (239, {'mb': 'million'}, '$144.1 million'),
 (240, {'mb': 'million'}, '$86.4 million'),
 (241, {'mb': 'million'}, '$61.7 million'),
 (242, {'mb': 'million'}, '$15.4 million'),
 (243, {'mb': 'million'}, '$314.4 million'),
 (244, {'mb': 'million'}, '$745 million'),
 (245, {'mb': 'million'}, '$42.9 million'),
 (246, {'mb': 'million'}, '$11 million'),
 (247, {'mb': 'million'}, '$120.5 million'),
 (248, {'mb': 'million'}, '$87.1 million'),
 (249, {'mb': 'million'}, '$102.3 million'),
 (250, {'mb': 'million'}, '$462 million'),
 (251, {'mb': 'billion'}, '$1.066 billion'),
 (252, {'mb': 'million'}, '$58.5 million'),
 (253, {'mb': 'million'}, '$91.5 million'),
 (254, {'mb': 'million'}, '$110.8 million'),
 (255, {'mb': 'million'}, '$137.6 million'),
 (256, {'mb': 'million'}, '$169.3 million'),
 (257, {'mb': 'million'}, '$961 million'),
 (258, {'mb': 'million'}, '$620.7 million'),
 (259, {'mb': 'million'}, '$65.3 million'),
 (260, {'mb': 'million'}, '$146.6 million'),
 (261, {'mb': 'million'}, '$340.5 million'),
 (262, {'mb': 'million'}, '$459.2 million'),
 (263, {'mb': 'million'}, '$70.6 million'),
 (264, {'mb': 'million'}, '$51.5 million'),
 (265, {'mb': 'million'}, '$419.7 million'),
 (266, {'mb': 'million'}, '$521.3 million'),
 (267, {'mb': 'million'}, '$149.3 million'),
 '$275,776',
 (269, {'mb': 'million'}, '$252.9 million'),
 (270, {'mb': 'million'}, '$310 million'),
 (271, {'mb': 'million'}, '$212.9 million'),
 (272, {'mb': 'million'}, '$23.1 million'),
 (273, {'mb': 'million'}, '$106.4 million'),
 (274, {'mb': 'million'}, '$170  million'),
 (275, {'mb': 'million'}, '$109 million'),
 (276, {'mb': 'million'}, '$735.1 million'),
 (277, {'mb': 'million'}, '$292.8 million'),
 (278, {'mb': 'million'}, 'us$ 203.2 million'),
 (279, {'mb': 'million'}, '$11.3 million'),
 (280, {'mb': 'million'}, '$325 million'),
 (281, {'mb': 'million'}, '$96.8 million'),
 (282, {'mb': 'million'}, '$270 million'),
 (283, {'mb': 'billion'}, '$1.025 billion'),
 (284, {'mb': 'million'}, '$82.7 million'),
 (285, {'mb': 'million'}, '$336.4 million'),
 (286, {'mb': 'billion'}, '$1.067 billion'),
 (287, {'mb': 'million'}, '$215.3 million'),
 (288, {'mb': 'million'}, '$75.5 million'),
 (289, {'mb': 'million'}, '$60.3 million'),
 (290, {'mb': 'million'}, '$592.4 million'),
 '$55,513',
 (292, {'mb': 'million'}, '$400.1 million'),
 (293, {'mb': 'million'}, '₹ 50 crore (us$7.0 million)'),
 (294, {'mb': 'million'}, '$39.2 million'),
 (295, {'mb': 'million'}, '$30.9 million'),
 (296, {'mb': 'million'}, '$10.7 million'),
 (297, {'mb': 'billion'}, '$1.046 billion'),
 (298, {'mb': 'million'}, '$562.1 million'),
 (299, {'mb': 'million'}, '$50.1 million'),
 (300, {'mb': 'million'}, '$165.2 million'),
 (301, {'mb': 'million'}, '$146 million'),
 (302, {'mb': 'million'}, '$284.1 million'),
 (303, {'mb': 'million'}, '$34.8 million'),
 (304, {'mb': 'million'}, '$540.4 million'),
 (305, {'mb': 'million'}, '$56 million'),
 (306, {'mb': 'million'}, '$81.5 million'),
 (307, {'mb': 'million'}, '$471.2 million'),
 (308, {'mb': 'million'}, '$493.3 million'),
 (309, {'mb': 'million'}, '$743.6 million'),
 (310, {'mb': 'million'}, '$260.5 million'),
 (311, {'mb': 'million'}, '$239.3 million'),
 (312, {'mb': 'billion'}, '$1.280 billion'),
 (313, {'mb': 'million'}, '$117.9 million'),
 (314, {'mb': 'million'}, '$80.4 million'),
 (315, {'mb': 'million'}, '$21.3 million'),
 (316, {'mb': 'million'}, '$39.2 million'),
 (317, {'mb': 'million'}, '$758.5 million'),
 (318, {'mb': 'million'}, '$147 million'),
 (319, {'mb': 'million'}, 'est. ₹ 79.43 crore (us$11 million)'),
 (320, {'mb': 'million'}, '$100.7 million'),
 (321, {'mb': 'million'}, '$657.8 million'),
 (322, {'mb': 'million'}, '$213.1 million'),
 (323, {'mb': 'million'}, '$45.7 million'),
 (324, {'mb': 'million'}, '$543 million'),
 (325, {'mb': 'million'}, '$17.1 million'),
 (326, {'mb': 'million'}, '$209 million'),
 (327, {'mb': 'million'}, '$858 million'),
 (328, {'mb': 'billion'}, 'est. ₹1.65 billion'),
 (329, {'mb': 'million'}, '$332.2 million'),
 (330, {'mb': 'million'}, '$52.1 million'),
 (331, {'mb': 'billion'}, '$1.024 billion'),
 (332, {'mb': 'million'}, '$966.6 million'),
 (333, {'mb': 'million'}, '$17 million'),
 (334, {'mb': 'million'}, '$299.5 million'),
 (335, {'mb': 'billion'}, '$1.029 billion'),
 (336, {'mb': 'million'}, '$195.2 million'),
 (337, {'mb': 'million'}, '$143.7 million'),
 (338, {'mb': 'million'}, '$10.4 million'),
 (339, {'mb': 'million'}, '$690.8 million'),
 (340, {'mb': 'million'}, '$127.4 million'),
 (341, {'mb': 'billion'}, '$1.264 billion'),
 (342, {'mb': 'million'}, '$25.1 million'),
 (343, {'mb': 'million'}, '$794.9 million'),
 (344, {'mb': 'million'}, '$383.9 million'),
 (345, {'mb': 'million'}, '₹ 833.5 million'),
 (346, {'mb': 'million'}, '$807.8 million'),
 (347, {'mb': 'million'}, '$133.4 million'),
 (348, {'mb': 'billion'}, '$1.243 billion'),
 (349, {'mb': 'million'}, '$197.7 million'),
 (350, {'mb': 'million'}, '$174 million'),
 (351, {'mb': 'million'}, '$529.3 million'),
 (352, {'mb': 'million'}, '$349.5 million'),
 (353, {'mb': 'million'}, '$353.3 million'),
 (354, {'mb': 'million'}, '$7.7\n million'),
 (355, {'mb': 'billion'}, '$1.051 billion'),
 (356, {'mb': 'billion'}, '$1.073 billion'),
 (357, {'mb': 'billion'}, '$1.657 billion'),
 (358, {'mb': 'million'}, '$491.7 million'),
 (359, {'mb': 'billion'}, '$1.450 billion'),
 (360, {'mb': 'million'}, '$141.9 million'),
 (361, {'mb': 'million'}, '$70 million'),
 (362, {'mb': 'million'}, '$115.7 million')]

In [74]:
# create a dictionary to store the regex compilers to search for amounts and million/billion.

bol = []

for i,x in enumerate(box_office_values):
    box_office_dict={}
    
    if amount_pattern.search(x) is not None:
        box_office_dict['amount'] = amount_pattern.search(x).groups()[0].strip('$')
    if place_holder_pattern.search(x) is not None:
        box_office_dict['place_holder'] = place_holder_pattern.search(x).groups()[0]
    
    if box_office_dict.get('amount') is not None:
        box_office_dict['value'] = float(box_office_dict['amount'].replace(",",""))
        
        if box_office_dict.get('place_holder') is not None:
            if box_office_dict.get('place_holder') == 'million':
                box_office_dict['value'] = box_office_dict['value']*1000000
                
            else:
                box_office_dict['value'] = box_office_dict['value']*1000000000
            
    bol.append(box_office_dict)
bol

[{'amount': '45.472', 'value': 45.472},
 {'amount': '418', 'place_holder': 'million', 'value': 418000000.0},
 {'amount': '164', 'place_holder': 'million', 'value': 164000000.0},
 {'amount': '76.4', 'place_holder': 'million', 'value': 76400000.0},
 {'amount': '960,000', 'value': 960000.0},
 {'amount': '1.3', 'place_holder': 'million', 'value': 1300000.0},
 {'amount': '267.4', 'place_holder': 'million', 'value': 267399999.99999997},
 {'amount': '1,135,000', 'value': 1135000.0},
 {'amount': '799,000', 'value': 799000.0},
 {'amount': '3,355,000', 'value': 3355000.0},
 {'amount': '3.275', 'place_holder': 'million', 'value': 3275000.0},
 {'amount': '65', 'place_holder': 'million', 'value': 65000000.0},
 {'amount': '3,165,000', 'value': 3165000.0},
 {'amount': '2,560,000', 'value': 2560000.0},
 {'amount': '3.7', 'place_holder': 'million', 'value': 3700000.0},
 {'amount': '1,625,000', 'value': 1625000.0},
 {'amount': '263.6', 'place_holder': 'million', 'value': 263600000.00000003},
 {'amount': '4,100,000', 'value': 4100000.0},
 {'amount': '5.6', 'place_holder': 'million', 'value': 5600000.0},
 {'amount': '2.1', 'place_holder': 'million', 'value': 2100000.0},
 {'amount': '87.4', 'place_holder': 'million', 'value': 87400000.0},
 {'amount': '1', 'place_holder': 'million', 'value': 1000000.0},
 {'amount': '2.6', 'place_holder': 'million', 'value': 2600000.0},
 {'amount': '1.75', 'place_holder': 'million', 'value': 1750000.0},
 {'amount': '28.2', 'place_holder': 'million', 'value': 28200000.0},
 {'amount': '2,150,000', 'value': 2150000.0},
 {'amount': '187', 'place_holder': 'million', 'value': 187000000.0},
 {'amount': '2.1', 'place_holder': 'million', 'value': 2100000.0},
 {'amount': '1.6', 'place_holder': 'million', 'value': 1600000.0},
 {'amount': '1.7', 'place_holder': 'million', 'value': 1700000.0},
 {'amount': '2.75', 'place_holder': 'million', 'value': 2750000.0},
 {'amount': '1.75', 'place_holder': 'million', 'value': 1750000.0},
 {'amount': '6,250,000', 'value': 6250000.0},
 {'amount': '1.8', 'place_holder': 'million', 'value': 1800000.0},
 {'amount': '2.5', 'place_holder': 'million', 'value': 2500000.0},
 {'amount': '51.6', 'place_holder': 'million', 'value': 51600000.0},
 {'amount': '12.3', 'place_holder': 'million', 'value': 12300000.0},
 {'amount': '1,700,000', 'value': 1700000.0},
 {'amount': '3,100,000', 'value': 3100000.0},
 {'amount': '3.75', 'place_holder': 'million', 'value': 3750000.0},
 {'amount': '2.3', 'place_holder': 'million', 'value': 2300000.0},
 {'amount': '40', 'place_holder': 'million', 'value': 40000000.0},
 {'amount': '303', 'place_holder': 'million', 'value': 303000000.0},
 {'amount': '25.4', 'place_holder': 'million', 'value': 25400000.0},
 {'amount': '25.1', 'place_holder': 'million', 'value': 25100000.0},
 {'amount': '4.6', 'place_holder': 'million', 'value': 4600000.0},
 {'amount': '3.5', 'place_holder': 'million', 'value': 3500000.0},
 {'amount': '5', 'place_holder': 'million', 'value': 5000000.0},
 {'amount': '21,745,500', 'value': 21745500.0},
 {'amount': '22.1', 'place_holder': 'million', 'value': 22100000.0},
 {'amount': '2,550,000', 'value': 2550000.0},
 {'amount': '3,000,000', 'value': 3000000.0},
 {'amount': '4,350,000', 'value': 4350000.0},
 {'amount': '4.2', 'place_holder': 'million', 'value': 4200000.0},
 {'amount': '22.2', 'place_holder': 'million', 'value': 22200000.0},
 {'amount': '1,600,000', 'value': 1600000.0},
 {'amount': '4,000,000', 'value': 4000000.0},
 {'amount': '2,250,000', 'value': 2250000.0},
 {'amount': '3,500,000', 'value': 3500000.0},
 {'amount': '103.1', 'place_holder': 'million', 'value': 103100000.0},
 {'amount': '1,275,000', 'value': 1275000.0},
 {'amount': '3,500,000', 'value': 3500000.0},
 {'amount': '4,000,000', 'value': 4000000.0},
 {'amount': '28,068,222', 'value': 28068222.0},
 {'amount': '6.2', 'place_holder': 'million', 'value': 6200000.0},
 {'amount': '22,565,634', 'value': 22565634.0},
 {'amount': '16,207,116', 'value': 16207116.0},
 {'amount': '3,000,000', 'value': 3000000.0},
 {'amount': '1,900,000', 'value': 1900000.0},
 {'amount': '4,000,000', 'value': 4000000.0},
 {'amount': '378', 'place_holder': 'million', 'value': 378000000.0},
 {'amount': '5', 'place_holder': 'million', 'value': 5000000.0},
 {'amount': '21,540,050', 'value': 21540050.0},
 {'amount': '2,250,000', 'value': 2250000.0},
 {'amount': '4,150,000', 'value': 4150000.0},
 {'amount': '3.3', 'place_holder': 'million', 'value': 3300000.0},
 {'amount': '51,264,000', 'value': 51264000.0},
 {'amount': '1.3', 'place_holder': 'million', 'value': 1300000.0},
 {'amount': '5.5', 'place_holder': 'million', 'value': 5500000.0},
 {'amount': '18,607,492', 'value': 18607492.0},
 {'amount': '4', 'place_holder': 'million', 'value': 4000000.0},
 {'amount': '191', 'place_holder': 'million', 'value': 191000000.0},
 {'amount': '5.1', 'place_holder': 'million', 'value': 5100000.0},
 {'amount': '17.9', 'place_holder': 'million', 'value': 17900000.0},
 {'amount': '4,610,000', 'value': 4610000.0},
 {'amount': '6,100,000', 'value': 6100000.0},
 {'amount': '22,583,370', 'value': 22583370.0},
 {'amount': '2', 'place_holder': 'million', 'value': 2000000.0},
 {'amount': '32', 'place_holder': 'million', 'value': 32000000.0},
 {'amount': '7', 'place_holder': 'million', 'value': 7000000.0},
 {'amount': '4', 'place_holder': 'million', 'value': 4000000.0},
 {'amount': '10', 'place_holder': 'million', 'value': 10000000.0},
 {'amount': '6.6', 'place_holder': 'million', 'value': 6600000.0},
 {'amount': '20,000,000', 'value': 20000000.0},
 {'amount': '36,853,000', 'value': 36853000.0},
 {'amount': '5.5', 'place_holder': 'million', 'value': 5500000.0},
 {'amount': '21,873,000', 'value': 21873000.0},
 {'amount': '10.5', 'place_holder': 'million', 'value': 10500000.0},
 {'amount': '36', 'place_holder': 'million', 'value': 36000000.0},
 {'amount': '169', 'place_holder': 'million', 'value': 169000000.0},
 {'amount': '29', 'place_holder': 'million', 'value': 29000000.0},
 {'amount': '36', 'place_holder': 'million', 'value': 36000000.0},
 {'amount': '20,931,111', 'value': 20931111.0},
 {'amount': '2.9', 'place_holder': 'million', 'value': 2900000.0},
 {'amount': '5', 'place_holder': 'million', 'value': 5000000.0},
 {'amount': '18', 'place_holder': 'million', 'value': 18000000.0},
 {'amount': '11', 'place_holder': 'million', 'value': 11000000.0},
 {'amount': '60', 'place_holder': 'million', 'value': 60000000.0},
 {'amount': '16', 'place_holder': 'million', 'value': 16000000.0},
 {'amount': '14.1', 'place_holder': 'million', 'value': 14100000.0},
 {'amount': '63.5', 'place_holder': 'million', 'value': 63500000.0},
 {'amount': '8', 'place_holder': 'million', 'value': 8000000.0},
 {'amount': '50', 'place_holder': 'million', 'value': 50000000.0},
 {'amount': '7.4', 'place_holder': 'million', 'value': 7400000.0},
 {'amount': '4,304,286', 'value': 4304286.0},
 {'amount': '8.4', 'place_holder': 'million', 'value': 8400000.0},
 {'amount': '27.6', 'place_holder': 'million', 'value': 27600000.0},
 {'amount': '11.1', 'place_holder': 'million', 'value': 11100000.0},
 {'amount': '21.3', 'place_holder': 'million', 'value': 21300000.0},
 {'amount': '9.7', 'place_holder': 'million', 'value': 9700000.0},
 {'amount': '13', 'place_holder': 'million', 'value': 13000000.0},
 {'amount': '38.7', 'place_holder': 'million', 'value': 38700000.0},
 {'amount': '18,564,613', 'value': 18564613.0},
 {'amount': '22.3', 'place_holder': 'million', 'value': 22300000.0},
 {'amount': '13,687,027', 'value': 13687027.0},
 {'amount': '121', 'place_holder': 'million', 'value': 121000000.0},
 {'amount': '222.7', 'place_holder': 'million', 'value': 222700000.0},
 {'amount': '8,153,677', 'value': 8153677.0},
 {'amount': '233', 'place_holder': 'million', 'value': 233000000.0},
 {'amount': '18.1', 'place_holder': 'million', 'value': 18100000.0},
 {'amount': '47.4', 'place_holder': 'million', 'value': 47400000.0},
 {'amount': '34.8', 'place_holder': 'million', 'value': 34800000.0},
 {'amount': '15.1', 'place_holder': 'million', 'value': 15100000.0},
 {'amount': '7.3', 'place_holder': 'million', 'value': 7300000.0},
 {'amount': '46.7', 'place_holder': 'million', 'value': 46700000.0},
 {'amount': '440.1', 'place_holder': 'million', 'value': 440100000.0},
 {'amount': '2.8', 'place_holder': 'million', 'value': 2800000.0},
 {'amount': '96', 'place_holder': 'million', 'value': 96000000.0},
 {'amount': '50.8', 'place_holder': 'million', 'value': 50800000.0},
 {'amount': '504.1', 'place_holder': 'million', 'value': 504100000.0},
 {'amount': '27.2', 'place_holder': 'million', 'value': 27200000.0},
 {'amount': '57', 'place_holder': 'million', 'value': 57000000.0},
 {'amount': '12.9', 'place_holder': 'million', 'value': 12900000.0},
 {'amount': '24.1', 'place_holder': 'million', 'value': 24100000.0},
 {'amount': '44.9', 'place_holder': 'million', 'value': 44900000.0},
 {'amount': '154.9', 'place_holder': 'million', 'value': 154900000.0},
 {'amount': '53.9', 'place_holder': 'million', 'value': 53900000.0},
 {'amount': '21', 'place_holder': 'million', 'value': 21000000.0},
 {'amount': '39', 'place_holder': 'million', 'value': 39000000.0},
 {'amount': '45.6', 'place_holder': 'million', 'value': 45600000.0},
 {'amount': '8,878,839', 'value': 8878839.0},
 {'amount': '968.5', 'place_holder': 'million', 'value': 968500000.0},
 {'amount': '50.2', 'place_holder': 'million', 'value': 50200000.0},
 {'amount': '3,337,685', 'value': 3337685.0},
 {'amount': '189.8', 'place_holder': 'million', 'value': 189800000.0},
 {'amount': '43.2', 'place_holder': 'million', 'value': 43200000.0},
 {'amount': '17.6', 'place_holder': 'million', 'value': 17600000.0},
 {'amount': '40,070,995', 'value': 40070995.0},
 {'amount': '11', 'place_holder': 'million', 'value': 11000000.0},
 {'amount': '37.6', 'place_holder': 'million', 'value': 37600000.0},
 {'amount': '346.1', 'place_holder': 'million', 'value': 346100000.0},
 {'amount': '24,670,346', 'value': 24670346.0},
 {'amount': '13.4', 'place_holder': 'million', 'value': 13400000.0},
 {'amount': '17.7', 'place_holder': 'million', 'value': 17700000.0},
 {'amount': '373', 'place_holder': 'million', 'value': 373000000.0},
 {'amount': '23.9', 'place_holder': 'million', 'value': 23900000.0},
 {'amount': '34.3', 'place_holder': 'million', 'value': 34300000.0},
 {'amount': '32.7', 'place_holder': 'million', 'value': 32700000.000000004},
 {'amount': '37.7', 'place_holder': 'million', 'value': 37700000.0},
 {'amount': '325.3', 'place_holder': 'million', 'value': 325300000.0},
 {'amount': '26,491,793', 'value': 26491793.0},
 {'amount': '22.9', 'place_holder': 'million', 'value': 22900000.0},
 {'amount': '320.7', 'place_holder': 'million', 'value': 320700000.0},
 {'amount': '18.3', 'place_holder': 'million', 'value': 18300000.0},
 {'amount': '59.9', 'place_holder': 'million', 'value': 59900000.0},
 {'amount': '252.7', 'place_holder': 'million', 'value': 252700000.0},
 {'amount': '174.4', 'place_holder': 'million', 'value': 174400000.0},
 {'amount': '27.8', 'place_holder': 'million', 'value': 27800000.0},
 {'amount': '15.4', 'place_holder': 'million', 'value': 15400000.0},
 {'amount': '178', 'place_holder': 'million', 'value': 178000000.0},
 {'amount': '28.9', 'place_holder': 'million', 'value': 28900000.0},
 {'amount': '4.4', 'place_holder': 'million', 'value': 4400000.0},
 {'amount': '304.3', 'place_holder': 'million', 'value': 304300000.0},
 {'amount': '92.1', 'place_holder': 'million', 'value': 92100000.0},
 {'amount': '12.2', 'place_holder': 'million', 'value': 12200000.0},
 {'amount': '363.3', 'place_holder': 'million', 'value': 363300000.0},
 {'amount': '50.6', 'place_holder': 'million', 'value': 50600000.0},
 {'amount': '36.8', 'place_holder': 'million', 'value': 36800000.0},
 {'amount': '19.4', 'place_holder': 'million', 'value': 19400000.0},
 {'amount': '448.2', 'place_holder': 'million', 'value': 448200000.0},
 {'amount': '134.4', 'place_holder': 'million', 'value': 134400000.0},
 {'amount': '6.2', 'place_holder': 'million', 'value': 6200000.0},
 {'amount': '497.4', 'place_holder': 'million', 'value': 497400000.0},
 {'amount': '90.9', 'place_holder': 'million', 'value': 90900000.0},
 {'amount': '96.2', 'place_holder': 'million', 'value': 96200000.0},
 {'amount': '349.8', 'place_holder': 'million', 'value': 349800000.0},
 {'amount': '110.3', 'place_holder': 'million', 'value': 110300000.0},
 {'amount': '136.7', 'place_holder': 'million', 'value': 136700000.0},
 {'amount': '183.6', 'place_holder': 'million', 'value': 183600000.0},
 {'amount': '169.6', 'place_holder': 'million', 'value': 169600000.0},
 {'amount': '44.5', 'place_holder': 'million', 'value': 44500000.0},
 {'amount': '186.1', 'place_holder': 'million', 'value': 186100000.0},
 {'amount': '165.3', 'place_holder': 'million', 'value': 165300000.0},
 {'amount': '18.6', 'place_holder': 'million', 'value': 18600000.0},
 {'amount': '577.4', 'place_holder': 'million', 'value': 577400000.0},
 {'amount': '115', 'place_holder': 'million', 'value': 115000000.0},
 {'amount': '115.1', 'place_holder': 'million', 'value': 115100000.0},
 {'amount': '80.7', 'place_holder': 'million', 'value': 80700000.0},
 {'amount': '273.1', 'place_holder': 'million', 'value': 273100000.0},
 {'amount': '18', 'place_holder': 'million', 'value': 18000000.0},
 {'amount': '395.5', 'place_holder': 'million', 'value': 395500000.0},
 {'amount': '19.3', 'place_holder': 'million', 'value': 19300000.0},
 {'amount': '172.9', 'place_holder': 'million', 'value': 172900000.0},
 {'amount': '109.6', 'place_holder': 'million', 'value': 109600000.0},
 {'amount': '135.7', 'place_holder': 'million', 'value': 135700000.0},
 {'amount': '62.9', 'place_holder': 'million', 'value': 62900000.0},
 {'amount': '28.7', 'place_holder': 'million', 'value': 28700000.0},
 {'amount': '71.4', 'place_holder': 'million', 'value': 71400000.0},
 {'amount': '55.5', 'place_holder': 'million', 'value': 55500000.0},
 {'amount': '940.3', 'place_holder': 'million', 'value': 940300000.0},
 {'amount': '654.3', 'place_holder': 'million', 'value': 654300000.0},
 {'amount': '160.8', 'place_holder': 'million', 'value': 160800000.0},
 {'amount': '250.4', 'place_holder': 'million', 'value': 250400000.0},
 {'amount': '182.3', 'place_holder': 'million', 'value': 182300000.0},
 {'amount': '9,638,389', 'value': 9638389.0},
 {'amount': '6.5', 'place_holder': 'million', 'value': 6500000.0},
 {'amount': '64.5', 'place_holder': 'million', 'value': 64500000.0},
 {'amount': '33.1', 'place_holder': 'million', 'value': 33100000.0},
 {'amount': '145.5', 'place_holder': 'million', 'value': 145500000.0},
 {'amount': '1,108,356', 'value': 1108356.0},
 {'amount': '72.2', 'place_holder': 'million', 'value': 72200000.0},
 {'amount': '314,402', 'value': 314402.0},
 {'amount': '134.7', 'place_holder': 'million', 'value': 134700000.0},
 {'amount': '633', 'place_holder': 'million', 'value': 633000000.0},
 {'amount': '347.5', 'place_holder': 'million', 'value': 347500000.0},
 {'amount': '9', 'place_holder': 'million', 'value': 9000000.0},
 {'amount': '52.9', 'place_holder': 'million', 'value': 52900000.0},
 {'amount': '198.6', 'place_holder': 'million', 'value': 198600000.0},
 {'amount': '27.6', 'place_holder': 'million', 'value': 27600000.0},
 {'amount': '144.1', 'place_holder': 'million', 'value': 144100000.0},
 {'amount': '86.4', 'place_holder': 'million', 'value': 86400000.0},
 {'amount': '61.7', 'place_holder': 'million', 'value': 61700000.0},
 {'amount': '15.4', 'place_holder': 'million', 'value': 15400000.0},
 {'amount': '314.4', 'place_holder': 'million', 'value': 314400000.0},
 {'amount': '745', 'place_holder': 'million', 'value': 745000000.0},
 {'amount': '42.9', 'place_holder': 'million', 'value': 42900000.0},
 {'amount': '11', 'place_holder': 'million', 'value': 11000000.0},
 {'amount': '120.5', 'place_holder': 'million', 'value': 120500000.0},
 {'amount': '87.1', 'place_holder': 'million', 'value': 87100000.0},
 {'amount': '102.3', 'place_holder': 'million', 'value': 102300000.0},
 {'amount': '462', 'place_holder': 'million', 'value': 462000000.0},
 {'amount': '1.066', 'place_holder': 'billion', 'value': 1066000000.0},
 {'amount': '58.5', 'place_holder': 'million', 'value': 58500000.0},
 {'amount': '91.5', 'place_holder': 'million', 'value': 91500000.0},
 {'amount': '110.8', 'place_holder': 'million', 'value': 110800000.0},
 {'amount': '137.6', 'place_holder': 'million', 'value': 137600000.0},
 {'amount': '169.3', 'place_holder': 'million', 'value': 169300000.0},
 {'amount': '961', 'place_holder': 'million', 'value': 961000000.0},
 {'amount': '620.7', 'place_holder': 'million', 'value': 620700000.0},
 {'amount': '65.3', 'place_holder': 'million', 'value': 65300000.0},
 {'amount': '146.6', 'place_holder': 'million', 'value': 146600000.0},
 {'amount': '340.5', 'place_holder': 'million', 'value': 340500000.0},
 {'amount': '459.2', 'place_holder': 'million', 'value': 459200000.0},
 {'amount': '70.6', 'place_holder': 'million', 'value': 70600000.0},
 {'amount': '51.5', 'place_holder': 'million', 'value': 51500000.0},
 {'amount': '419.7', 'place_holder': 'million', 'value': 419700000.0},
 {'amount': '521.3', 'place_holder': 'million', 'value': 521299999.99999994},
 {'amount': '149.3', 'place_holder': 'million', 'value': 149300000.0},
 {'amount': '275,776', 'value': 275776.0},
 {'amount': '252.9', 'place_holder': 'million', 'value': 252900000.0},
 {'amount': '310', 'place_holder': 'million', 'value': 310000000.0},
 {'amount': '212.9', 'place_holder': 'million', 'value': 212900000.0},
 {'amount': '23.1', 'place_holder': 'million', 'value': 23100000.0},
 {'amount': '106.4', 'place_holder': 'million', 'value': 106400000.0},
 {'amount': '170', 'place_holder': 'million', 'value': 170000000.0},
 {'amount': '109', 'place_holder': 'million', 'value': 109000000.0},
 {'amount': '735.1', 'place_holder': 'million', 'value': 735100000.0},
 {'amount': '292.8', 'place_holder': 'million', 'value': 292800000.0},
 {'amount': '203.2', 'place_holder': 'million', 'value': 203200000.0},
 {'amount': '11.3', 'place_holder': 'million', 'value': 11300000.0},
 {'amount': '325', 'place_holder': 'million', 'value': 325000000.0},
 {'amount': '96.8', 'place_holder': 'million', 'value': 96800000.0},
 {'amount': '270', 'place_holder': 'million', 'value': 270000000.0},
 {'amount': '1.025', 'place_holder': 'billion', 'value': 1024999999.9999999},
 {'amount': '82.7', 'place_holder': 'million', 'value': 82700000.0},
 {'amount': '336.4', 'place_holder': 'million', 'value': 336400000.0},
 {'amount': '1.067', 'place_holder': 'billion', 'value': 1067000000.0},
 {'amount': '215.3', 'place_holder': 'million', 'value': 215300000.0},
 {'amount': '75.5', 'place_holder': 'million', 'value': 75500000.0},
 {'amount': '60.3', 'place_holder': 'million', 'value': 60300000.0},
 {'amount': '592.4', 'place_holder': 'million', 'value': 592400000.0},
 {'amount': '55,513', 'value': 55513.0},
 {'amount': '400.1', 'place_holder': 'million', 'value': 400100000.0},
 {'amount': '7.0', 'place_holder': 'million', 'value': 7000000.0},
 {'amount': '39.2', 'place_holder': 'million', 'value': 39200000.0},
 {'amount': '30.9', 'place_holder': 'million', 'value': 30900000.0},
 {'amount': '10.7', 'place_holder': 'million', 'value': 10700000.0},
 {'amount': '1.046', 'place_holder': 'billion', 'value': 1046000000.0},
 {'amount': '562.1', 'place_holder': 'million', 'value': 562100000.0},
 {'amount': '50.1', 'place_holder': 'million', 'value': 50100000.0},
 {'amount': '165.2', 'place_holder': 'million', 'value': 165200000.0},
 {'amount': '146', 'place_holder': 'million', 'value': 146000000.0},
 {'amount': '284.1', 'place_holder': 'million', 'value': 284100000.0},
 {'amount': '34.8', 'place_holder': 'million', 'value': 34800000.0},
 {'amount': '540.4', 'place_holder': 'million', 'value': 540400000.0},
 {'amount': '56', 'place_holder': 'million', 'value': 56000000.0},
 {'amount': '81.5', 'place_holder': 'million', 'value': 81500000.0},

# Function: create_re_pattern()

In [75]:
def create_re_patterns():
    amount_pattern=re.compile('.*?\$.*?(?P<amount>[0-9,.]+)')
    place_holder_pattern = place_holder_pattern=re.compile('.*?(?P<mb>million|billion)')
    
    return (amount_pattern, place_holder_pattern)

# Function: create_bo_values(dictionary)

In [76]:
def create_bo_values(dictionary):
    
    amount_pattern, place_holder_pattern = create_re_patterns()
    
    box_office_dict = {}
    
    if dictionary.get('Box office') is not None:
        if type(dictionary.get('Box office')) is str:
            if amount_pattern.search(dictionary['Box office']) is not None:
                box_office_dict['amount'] = amount_pattern.search(dictionary['Box office']).groups()[0].strip('$')
            if place_holder_pattern.search(dictionary['Box office']) is not None:
                box_office_dict['place_holder'] = place_holder_pattern.search(dictionary['Box office']).groups()[0]
            
            if box_office_dict.get('amount') is not None:
                box_office_dict['value'] = float(box_office_dict['amount'].replace(",",""))
            
            
                if box_office_dict.get('place_holder') is not None:
                    if box_office_dict.get('place_holder') == 'million':
                        box_office_dict['value'] = box_office_dict['value']*1000000
                
                    else:
                        box_office_dict['value'] = box_office_dict['value']*1000000000
            
            if box_office_dict.get('value') is not None:
                dictionary['bov'] = box_office_dict['value']
            
    return dictionary

In [77]:
df[23]

{'title': 'rob roy, the highland rogue',
 'Directed by': 'harold french',
 'Produced by': ['perce pearce', 'walt disney'],
 'Written by': 'lawrence edward watkin',
 'Starring': ['richard todd',
  'glynis johns',
  'james robertson justice',
  'michael gough',
  'finlay currie',
  'geoffrey keen'],
 'Music by': 'cedric thorpe davie',
 'Cinematography': 'guy green',
 'Edited by': 'geoffrey foot',
 'Production company': 'walt disney productions',
 'Distributed by': 'rko radio pictures',
 'Release date': ['26 october 1953 ( 1953-10-26 ) (premiere- london )',
  '4 february 1954 ( 1954-02-04 ) ( us )'],
 'Running time': 81,
 'Countries': ['united kingdom', 'united states'],
 'Language': 'english',
 'Budget': 1800000.0}

In [78]:
# Create another df object to hold all dictionaries and the new 'bov' values
df_bov = [(create_bo_values(x)) for i,x in enumerate(df)]

In [79]:
len([x.get('bov') for i,x in enumerate(df_bov) if x.get('bov') is not None])

361

In [80]:
len([x.get('Box office') for x in df_bov if x.get('Box office') is not None])

368

In [81]:
len([x for x in df_bov if x.get('Box office') is not None and x.get('bov') is None])

7

In [82]:
[(i,x.get('title'),x.get('Box office')) for i,x in enumerate(df_bov) if x.get('Box office') is not None and x.get('bov') is None]

[(42, "darby o'gill and the little people", ['[2]', '[3]']),
 (113, 'herbie rides again', ['[1]']),
 (141, 'the black hole', ['[1]']),
 (284, "howl's moving castle", ['¥', '[3]']),
 (383, 'abcd 2', 'est. ₹1.65 billion'),
 (395, 'dangal', ['[4]', '[5]', '[6]', '[7]', '[8]']),
 (402, 'jagga jasoos', '₹ 833.5 million')]

 going to the wiki pages for the movies we will insert the values for the movies we are able to insert.

In [83]:
df_bov[42]['bov'] = 2600000.0
df_bov[113]['bov'] = 30800000.0
df_bov[141]['bov'] = 35800000.0
df_bov[284]['bov'] = 236000000.0
df_bov[395]['bov'] = 311000000.0